---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [33]:
import pandas as pd
pd.Series?

In [34]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [35]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [36]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [37]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [38]:
import numpy as np
np.nan == None

False

In [39]:
np.nan == np.nan

False

In [40]:
np.isnan(np.nan)

True

In [41]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [42]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [43]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [44]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [45]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [46]:
s.iloc[3]

'South Korea'

In [47]:
s.loc['Golf']

'Scotland'

In [48]:
s[3]

'South Korea'

In [49]:
s['Golf']

'Scotland'

In [50]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [51]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [52]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [53]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [54]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [55]:
from functools import reduce
reduce(lambda prev, curr: prev + curr, s)

324.0

In [56]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head(3)

0    416
1    860
2    746
dtype: int32

In [57]:
len(s)

10000

In [58]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

696 µs ± 34.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [59]:
%%timeit -n 100
summary = np.sum(s)

124 µs ± 4.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [60]:
from functools import reduce

In [61]:
%%timeit -n 100
reduce(lambda prev, curr: prev + curr, s)

1.43 ms ± 40.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [62]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    418
1    862
2    748
3    750
4    242
dtype: int32

In [63]:
for label, value in s.iteritems():
    print(label, value)
    s.set_value(label, value+2)
# s.head()

0 418
1 862
2 748
3 750
4 242
5 458
6 48
7 153
8 458
9 399
10 49
11 422
12 290
13 678
14 90
15 751
16 712
17 219
18 877
19 109
20 497
21 397
22 96
23 281
24 634
25 908
26 355
27 811
28 808
29 347
30 793
31 807
32 322
33 264
34 279
35 567
36 371
37 720
38 1001
39 325
40 748
41 480
42 55
43 271
44 828
45 881
46 205
47 748
48 163
49 51
50 408
51 818
52 826
53 184
54 528
55 31
56 167
57 27
58 667
59 980
60 573
61 295
62 515
63 936
64 660
65 766
66 424
67 304
68 964
69 495
70 475
71 800
72 112
73 245
74 849
75 624
76 307
77 422
78 277
79 530
80 225
81 974
82 165
83 89
84 424
85 423
86 99
87 320
88 181
89 406
90 613
91 550
92 90
93 23
94 297
95 563
96 156
97 492
98 869
99 381
100 84
101 820
102 293
103 799
104 989
105 841
106 184
107 713
108 371
109 652
110 917
111 499
112 699
113 250
114 128
115 992
116 515
117 132
118 977
119 846
120 467
121 215
122 471
123 505
124 905
125 245
126 558
127 385
128 528
129 760
130 331
131 76
132 561
133 284
134 214
135 902
136 989
137 487
138 466
139 867
140 774
141 844
142 470
143 651
144 399
145 737
146 384
147 382
148 258
149 935
150 531
151 601
152 197
153 908
154 589
155 636
156 433
157 472
158 779
159 891
160 552
161 74
162 517
163 601
164 952
165 933
166 693
167 612
168 972
169 598
170 33
171 120
172 761
173 274
174 447
175 834
176 611
177 517
178 767
179 40
180 336
181 876
182 661
183 272
184 804
185 543
186 14
187 218
188 504
189 691
190 407
191 336
192 800
193 527
194 581
195 195
196 475
197 561
198 626
199 574
200 267
201 528
202 588
203 12
204 271
205 544
206 859
207 380
208 126
209 805
210 681
211 884
212 471
213 687
214 459
215 338
216 161
217 902
218 426
219 126
220 317
221 832
222 669
223 678
224 285
225 117
226 282
227 713
228 424
229 861
230 379
231 655
232 548
233 775
234 901
235 874
236 525
237 666
238 472
239 223
240 234
241 753
242 884
243 446
244 381
245 49
246 822
247 622
248 591
249 952
250 215
251 297
252 252
253 962
254 515
255 133
256 371
257 812
258 975
259 463
260 260
261 874
262 835
263 234
264 378
265 673
266 941
267 460
268 614
269 227
270 69
271 773
272 146
273 477
274 369
275 274
276 901
277 893
278 36
279 771
280 254
281 592
282 528
283 647
284 780
285 632
286 615
287 655
288 492
289 486
290 551
291 30
292 100
293 780
294 292
295 522
296 461
297 942
298 566
299 790
300 843
301 130
302 630
303 715
304 967
305 323
306 594
307 85
308 924
309 703
310 913
311 217
312 51
313 731
314 270
315 116
316 623
317 688
318 586
319 139
320 93
321 91
322 59
323 923
324 975
325 706
326 875
327 345
328 527
329 914
330 370
331 920
332 572
333 76
334 671
335 523
336 996
337 684
338 245
339 146
340 308
341 466
342 848
343 388
344 191
345 82
346 626
347 369
348 844
349 250
350 116
351 52
352 330
353 332
354 39
355 29
356 346
357 918
358 317
359 202
360 867
361 790
362 277
363 998
364 871
365 373
366 775
367 315
368 449
369 487
370 611
371 463
372 148
373 750
374 694
375 186
376 251
377 921
378 77
379 232
380 655
381 751
382 803
383 901
384 213
385 980
386 602
387 435
388 824
389 268
390 481
391 393
392 335
393 197
394 632
395 845
396 306
397 909
398 99
399 393
400 949
401 596
402 919
403 17
404 663
405 558
406 198
407 647
408 337
409 471
410 870
411 108
412 430
413 387
414 411
415 268
416 558
417 234
418 909
419 216
420 449
421 469
422 375
423 705
424 599
425 180
426 863
427 570
428 62
429 120
430 866
431 626
432 630
433 161
434 52
435 108
436 188
437 988
438 291
439 282
440 273
441 519
442 782
443 754
444 453
445 114
446 145
447 641
448 855
449 396
450 651
451 676
452 735
453 567
454 960
455 489
456 948
457 769
458 208
459 678
460 461
461 874
462 462
463 458
464 169
465 670
466 86
467 797
468 975
469 182
470 967
471 977
472 546
473 598
474 4
475 321
476 122
477 860
478 574
479 903
480 430
481 328
482 740
483 500
484 234
485 157
486 889
487 461
488 563
489 997
490 576
491 815
492 194
493 90
494 719
495 200
496 231
497 345
498 45
499 306
500 323
501 407
502 411
503 739
504 845
505 771
506 631
507 608
508 658
509 736
510 727
511 894
512 282
513 321
514 563
515 428
516 825
517 463
518 198
519 126
520 430
521 984
522 548
523 85
524 156
525 670
526 130
527 996
528 364
529 553
530 527
531 811
532 510
533 115
534 919
535 163
536 166
537 849
538 982
539 455
540 232
541 750
542 428
543 814
544 666
545 431
546 553
547 312
548 914
549 533
550 674
551 379
552 171
553 791
554 25
555 780
556 971
557 695
558 934
559 293
560 403
561 441
562 847
563 981
564 627
565 200
566 466
567 534
568 701
569 87
570 843
571 109
572 421
573 59
574 137
575 599
576 11
577 656
578 505
579 826
580 548
581 517
582 37
583 831
584 358
585 278
586 660
587 514
588 700
589 551
590 840
591 116
592 870
593 785
594 961
595 318
596 144
597 780
598 450
599 386
600 823
601 874
602 372
603 220
604 1001
605 736
606 378
607 109
608 207
609 229
610 90
611 95
612 341
613 649
614 831
615 647
616 120
617 579
618 643
619 812
620 523
621 202
622 996
623 993
624 843
625 619
626 773
627 297
628 250
629 246
630 225
631 591
632 645
633 994
634 95
635 384
636 429
637 379
638 792
639 869
640 904
641 519
642 643
643 749
644 423
645 741
646 843
647 613
648 605
649 371
650 940
651 789
652 130
653 749
654 191
655 858
656 223
657 517
658 920
659 773
660 916
661 45
662 711
663 37
664 447
665 594
666 71
667 493
668 51
669 271
670 397
671 79
672 251
673 791
674 754
675 95
676 408
677 618
678 1000
679 901
680 379
681 683
682 864
683 733
684 511
685 290
686 416
687 537
688 654
689 8
690 512
691 347
692 87
693 622
694 86
695 649
696 430
697 439
698 297
699 915
700 521
701 31
702 185
703 364
704 825
705 185
706 121
707 812
708 149
709 103
710 162
711 488
712 776
713 945
714 402
715 705
716 331
717 42
718 319
719 272
720 189
721 617
722 929
723 316
724 853
725 974
726 423
727 881
728 370
729 688
730 919
731 656
732 246
733 899
734 579
735 783
736 150
737 252
738 672
739 919
740 873
741 796
742 59
743 801
744 413
745 798
746 876
747 73
748 702
749 311
750 382
751 590
752 938
753 851
754 973
755 401
756 749
757 249
758 680
759 664
760 690
761 941
762 143
763 193
764 25
765 852
766 469
767 531
768 571
769 310
770 598
771 563
772 76
773 45
774 979
775 476
776 824
777 686
778 636
779 887
780 173
781 541
782 636
783 892
784 284
785 402
786 428
787 915
788 612
789 535
790 57
791 419
792 137
793 85
794 122
795 129
796 708
797 93
798 370
799 951
800 787
801 407
802 401
803 223
804 424
805 305
806 709
807

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

 73
808 820
809 632
810 377
811 528
812 130
813 250
814 19
815 316
816 959
817 276
818 176
819 329
820 390
821 715
822 978
823 682
824 367
825 735
826 665
827 808
828 376
829 325
830 327
831 218
832 969
833 132
834 4
835 214
836 972
837 930
838 974
839 834
840 731
841 153
842 176
843 277
844 688
845 903
846 318
847 605
848 207
849 8
850 344
851 584
852 400
853 826
854 495
855 861
856 786
857 963
858 614
859 984
860 969
861 158
862 911
863 157
864 948
865 988
866 560
867 320
868 768
869 37
870 694
871 968
872 413
873 290
874 554
875 596
876 544
877 48
878 719
879 642
880 516
881 128
882 81
883 696
884 89
885 452
886 498
887 41
888 548
889 758
890 109
891 546
892 590
893 447
894 399
895 76
896 933
897 199
898 355
899 62
900 266
901 89
902 846
903 975
904 142
905 49
906 319
907 173
908 760
909 282
910 401
911 591
912 61
913 448
914 650
915 569
916 706
917 10
918 248
919 723
920 871
921 144
922 816
923 212
924 679
925 107
926 734
927 731
928 993
929 131
930 459
931 762
932 77
933 180
934 29
935 717
936 360
937 420
938 551
939 500
940 122
941 651
942 349
943 439
944 794
945 73
946 540
947 498
948 986
949 702
950 95
951 579
952 686
953 608
954 217
955 444
956 968
957 505
958 640
959 789
960 162
961 160
962 370
963 885
964 426
965 681
966 73
967 990
968 745
969 575
970 72
971 581
972 145
973 382
974 108
975 923
976 400
977 800
978 713
979 630
980 144
981 386
982 385
983 50
984 732
985 558
986 936
987 907
988 631
989 834
990 150
991 755
992 8
993 39
994 810
995 215
996 485
997 323
998 956
999 945
1000 762
1001 205
1002 783
1003 903
1004 542
1005 688
1006 522
1007 579
1008 820
1009 800
1010 173
1011 746
1012 933
1013 513
1014 921
1015 235
1016 301
1017 471
1018 974
1019 59
1020 353
1021 731
1022 448
1023 692
1024 539
1025 483
1026 91
1027 427
1028 745
1029 976
1030 395
1031 444
1032 710
1033 304
1034 853
1035 637
1036 587
1037 413
1038 433
1039 349
1040 956
1041 541
1042 823
1043 860
1044 282
1045 618
1046 693
1047 787
1048 792
1049 460
1050 832
1051 695
1052 753
1053 749
1054 24
1055 972
1056 943
1057 892
1058 486
1059 703
1060 311
1061 653
1062 307
1063 139
1064 933
1065 987
1066 673
1067 473
1068 739
1069 791
1070 973
1071 627
1072 568
1073 393
1074 424
1075 65
1076 993
1077 852
1078 607
1079 468
1080 89
1081 996
1082 639
1083 213
1084 363
1085 640
1086 39
1087 31
1088 728
1089 934
1090 798
1091 365
1092 834
1093 803
1094 312
1095 930
1096 485
1097 304
1098 627
1099 539
1100 895
1101 143
1102 60
1103 179
1104 411
1105 526
1106 597
1107 484
1108 440
1109 961
1110 846
1111 589
1112 172
1113 449
1114 560
1115 830
1116 816
1117 788
1118 79
1119 472
1120 705
1121 64
1122 324
1123 797
1124 252
1125 65
1126 560
1127 379
1128 272
1129 172
1130 188
1131 492
1132 56
1133 192
1134 569
1135 736
1136 554
1137 154
1138 838
1139 133
1140 694
1141 975
1142 467
1143 750
1144 859
1145 107
1146 749
1147 216
1148 432
1149 993
1150 582
1151 132
1152 153
1153 57
1154 942
1155 898
1156 62
1157 386
1158 970
1159 756
1160 69
1161 799
1162 369
1163 72
1164 688
1165 946
1166 762
1167 497
1168 45
1169 355
1170 168
1171 386
1172 276
1173 587
1174 498
1175 348
1176 921
1177 45
1178 463
1179 447
1180 254
1181 298
1182 96
1183 661
1184 703
1185 173
1186 128
1187 185
1188 683
1189 248
1190 291
1191 528
1192 447
1193 6
1194 789
1195 367
1196 323
1197 223
1198 661
1199 387
1200 290
1201 283
1202 777
1203 44
1204 87
1205 95
1206 995
1207 511
1208 953
1209 313
1210 313
1211 19
1212 15
1213 477
1214 958
1215 352
1216 440
1217 895
1218 257
1219 307
1220 664
1221 276
1222 371
1223 436
1224 904
1225 232
1226 564
1227 422
1228 745
1229 893
1230 629
1231 899
1232 354
1233 706
1234 518
1235 322
1236 501
1237 863
1238 844
1239 917
1240 827
1241 858
1242 636
1243 799
1244 487
1245 192
1246 894
1247 986
1248 71
1249 200
1250 670
1251 801
1252 777
1253 696
1254 615
1255 287
1256 876
1257 169
1258 583
1259 223
1260 58
1261 779
1262 196
1263 338
1264 894
1265 295
1266 1001
1267 693
1268 602
1269 980
1270 561
1271 803
1272 890
1273 376
1274 394
1275 182
1276 281
1277 517
1278 443
1279 756
1280 327
1281 841
1282 542
1283 603
1284 192
1285 799
1286 479
1287 602
1288 923
1289 615
1290 393
1291 923
1292 218
1293 675
1294 869
1295 776
1296 563
1297 740
1298 104
1299 859
1300 662
1301 708
1302 797
1303 89
1304 110
1305 807
1306 398
1307 433
1308 886
1309 369
1310 530
1311 501
1312 537
1313 306
1314 660
1315 788
1316 441
1317 434
1318 471
1319 537
1320 876
1321 976
1322 231
1323 182
1324 477
1325 784
1326 268
1327 633
1328 724
1329 188
1330 576
1331 815
1332 892
1333 876
1334 430
1335 401
1336 781
1337 454
1338 834
1339 989
1340 28
1341 732
1342 709
1343 591
1344 992
1345 823
1346 750
1347 246
1348 318
1349 840
1350 221
1351 754
1352 977
1353 105
1354 471
1355 597
1356 504
1357 238
1358 392
1359 557
1360 82
1361 275
1362 712
1363 563
1364 534
1365 999
1366 743
1367 595
1368 487
1369 687
1370 467
1371 193
1372 861
1373 966
1374 358
1375 909
1376 788
1377 868
1378 908
1379 217
1380 725
1381 940
1382 755
1383 262
1384 286
1385 284
1386 472
1387 838
1388 786
1389 956
1390 174
1391 587
1392 976
1393 977
1394 305
1395 460
1396 202
1397 418
1398 835
1399 846
1400 401
1401 867
1402 417
1403 842
1404 665
1405 12
1406 765
1407 942
1408 122
1409 452
1410 250
1411 80
1412 702
1413 571
1414 101
1415 956
1416 479
1417 753
1418 374
1419 988
1420 369
1421 509
1422 921
1423 55
1424 620
1425 69
1426 251
1427 54
1428 584
1429 251
1430 593
1431 551
1432 823
1433 257
1434 642
1435 667
1436 452
1437 28
1438 604
1439 70
1440 869
1441 882
1442 548
1443 665
1444 545
1445 574
1446 992
1447 476
1448 831
1449 735
1450 144
1451 294
1452 774
1453 828
1454 283
1455 288
1456 704
1457 188
1458 394
1459 437
1460 876
1461 270
1462 438
1463 836
1464 416
1465 837
1466 225
1467 508
1468 71
1469 987
1470 739
1471 938
1472 658
1473 747
1474 378
1475 457
1476 454
1477 556
1478 278
1479 113
1480 7
1481 393
1482 298
1483 606
1484 430
1485 646
1486 309
1487 268
1488 672
1489 12
1490 81
1491 194
1492 180
1493 703
1494 386
1495 464
1496 889
1497 144
1498 105
1499 960
1500 962
1501 558
1502 898
1503 724
1504 561
1505 415
1506 985
1507 88
1508 332
1509 375
1510 474
1511 670
1512 168
1513 969
1514 161
1515 614
1516 455
1517 128
1518 97
1519 678
1520 955
1521 415
1522 695
1523 874
1524 347
1525 733
1526 697
1527 292
1528 87
1529 618
1530 711
1531 264
1532 556
1533 460
1534 907
1535 349
1536 445
1537 164
1538 853
1539 726
1540 871
1541 874
1542 294
1543 580
1544 187
1545 609
1546 199
1547 558
1548 550
1549 759
1550 139
1551 938
1552 401
1553 774
1554 460
1555 430
1556 542
1557 252
1558 396
1559 381
1560 932
1561 865
1562 430
1563 272
1564 957
1565 34
1566 497
1567 13
1568 995
1569 192
1570 56
1571 813
1572 357
1573 965
1574 802
1575 345
1576 121
1577 698
1578 737
1579 386
1580 573
1581 492
1582 85
1583 35
1584 6
1585 862
1586 648
1587 781
1588 313
1589 334
1590 93
1591 729
1592 167
1593 409
1594 482
1595 505
1596 740
1597 37
1598 800
1599 579
1600 207
1601 335
1602 545
1603 170
1604 399
1605 227
1606 471
1607 115
1608 377
1609 262
1610 990
1611 761
1612 689
1613 877
1614 582
1615 335
1616 673
1617 715
1618 848
1619 978
1620 483
1621 595
1622 391
1623 402
1624 237
1625 326
1626 118
1627 974
1628 513
1629 330
1630 370
1631 471
1632 211
1633 124
1634 172
1635 689
1636 653
1637 455
1638 180
1639 837
1640 241
1641 32
1642 836
1643 669
1644 357
1645 332
1646 795
1647 60
1648 149
1649 95
1650 518
1651 793
1652 666
1653 542
1654 393
1655 568
1656 928
1657 107
1658 647
1659 502
1660 520
1661 333
1662 327
1663 418
1664 632
1665 467
1666 152
1667 892
1668 431
1669 540
1670 554
1671 506
1672 510
1673 199
1674 315
1675 847
1676 439
1677 381
1678 599
1679 739
1680 603
1681 846
1682 662
1683 243
1684 392
1685 830
1686 998
1687 312
1688 836
1689 501
1690 903
1691 606
1692 277
1693 612
1694 875
1695 596
1696 230
1697 109
1698 56
1699 826
1700 932
1701 6
1702 84
1703 416
1704 127
1705 210
1706 263
1707 80
1708 490
1709 163
1710 962
1711 321
1712 489
1713 597
1714 868
1715 580
1716 667
1717 331
1718 993
1719 374
1720 768
1721 529
1722 513
1723 149
1724 691
1725 600
1726 24
1727 362
1728 699
1729 505
1730 965
1731 669
1732 670
1733 977
1734 843
1735 540
1736 559
1737 147
1738 242
1739 599
1740 954
1741 785
1742 464
1743 216
1744 97
1745 679
1746 857
1747 887
1748 107
1749 399
1750 608
1751 403
1752 790
1753 45
1754 743
1755 837
1756 902
1757 879
1758 772
1759 178
1760 355
1761 157
1762 699
1763 461
1764 858
1765 490
1766 364
1767 911
1768 840
1769 161
1770 80
1771 5
1772 244
1773 72
1774 302
1775 493
1776 967
1777 370
1778 941
1779 620
1780 402
1781 974
1782 264
1783 256
1784 129
1785 594
1786 572
1787 148
1788 95
1789 692
1790 580
1791 837
1792 541
1793 468
1794 321
1795 633
1796 477
1797 19
1798 301
1799 781
1800 744
1801 682
1802 341
1803 529
1804 112
1805 24
1806 890
1807 468
1808 686
1809 696
1810 330
1811 730
1812 336
1813 722
1814 713
1815 972
1816 556
1817 861
1818 121
1819 110
1820 452
1821 6
1822 837
1823 901
1824 832
1825 599
1826 465
1827 304
1828 871
1829 480
1830 78
1831 227
1832 640
1833 912
1834 563
1835 461
1836 154
1837 66
1838 772
1839 513
1840 151
1841 402
1842 450
1843 546
1844 692
1845 116
1846 143
1847 682
1848 834
1849 141
1850 124
1851 367
1852 423
1853 994
1854 792
1855 504
1856 125
1857 548
1858 858
1859 76
1860 514
1861 166
1862 741
1863 461
1864 523
1865 71
1866 863
1867 563
1868 327
1869 499
1870 67
1871 639
1872 82
1873 210
1874 954
1875 517
1876 447
1877 570
1878 641
1879 3
1880 120
1881 106
1882 527
1883 404
1884 110
1885 537
1886 712
1887 389
1888 139
1889 382
1890 782
1891 877
1892 852
1893 205
1894 262
1895 621
1896 536
1897 663
1898 579
1899 754
1900 969
1901 615
1902 648
1903 111
1904 141
1905 366
1906 669
1907 784
1908 264
1909 851
1910 620
1911 141
1912 569
1913 256
1914 737
1915 683
1916 349
1917 897
1918 231
1919 333
1920 412
1921 690
1922 428
1923 280
1924 784
1925 252
1926 37
1927 189
1928 13
1929 955
1930 364
1931 241
1932 866
1933 326
1934 355
1935 945
1936 209
1937 959
1938 773
1939 657
1940 477
1941 340
1942 915
1943 847
1944 541
1945 726
1946 834
1947 798
1948 527
1949 911
1950 111
1951 882
1952 703
1953 116
1954 648
1955 770
1956 643
1957 784
1958 607
1959 112
1960 869
1961 679
1962 576
1963 432
1964 717
1965 613
1966 538
1967 152
1968 148
1969 64
1970 264
1971 456
1972 794
1973 288
1974 131
1975 452
1976 547
1977 763
1978 602
1979 229
1980 46
1981 851
1982 171
1983 792
1984 701
1985 960
1986 825
1987 768
1988 796
1989 439
1990 160
1991 130
1992 980
1993 939
1994 271
1995 378
1996 596
1997 740
1998 418
1999 745
2000 548
2001 128
2002 257
2003 719
2004 903
2005 816
2006 272
2007 802
2008 644
2009 230
2010 848
2011 456
2012 345
2013 826
2014 402
2015 925
2016 521
2017 953
2018 363
2019 966
2020 6
2021 136
2022 819
2023 179
2024 785
2025 979
2026 753
2027 286
2028 178
2029 143
2030 826
2031 960
2032 426
2033 808
2034 452
2035 316
2036 699
2037 895
2038 15
2039 853
2040 932
2041 436
2042 108
2043 537
2044 392
2045 417
2046 509
2047 501
2048 919
2049 501
2050 333
2051 637
2052 136
2053 313
2054 492
2055 767
2056 460
2057 719
2058 57
2059 4
2060 200
2061 172
2062 184
2063 291
2064 78
2065 213
2066 12
2067 189
2068 478
2069 821
2070 440
2071 807
2072 27
2073 616
2074 264
2075 788
2076 887
2077 54
2078 725
2079 112
2080 1001
2081 386
2082 716
2083 579
2084 313
2085 891
2086 998
2087 723
2088 600
2089 504
2090 840
2091 730
2092 954
2093 464
2094 688
2095 417
2096 787
2097 84
2098 847
2099 330
2100 174
2101 285
2102 475
2103 929
2104 281
2105 258
2106 679
2107 104
2108 380
2109 980
2110 931
2111 480
2112 445
2113 954
2114 473
2115 624
2116 859
2117 614
2118 119
2119 536
2120 874
2121 322
2122 740
2123 831
2124 163
2125 578
2126 629
2127 13
2128 336
2129 57
2130 231
2131 577
2132 93
2133 856
2134 147
2135 10
2136 776
2137 707
2138 622
2139 860
2140 400
2141 734
2142 425
2143 187
2144 357
2145 398
2146 174
2147 428
2148 101
2149 993
2150 631
2151 299
2152 151
2153 871
2154 437
2155 149
2156 390
2157 361
2158 331
2159 98
2160 71
2161 45
2162 939
2163 253
2164 505
2165 516
2166 195
2167 980
2168 810
2169 109
2170 124
2171 127
2172 582
2173 321
2174 782
2175 697
2176 435
2177 809
2178 773
2179 885
2180 215
2181 49
2182 831
2183 369
2184 393
2185 807
2186 778
2187 941
2188 316
2189 178
2190 896
2191 173
2192 409
2193 978
2194 533
2195 968
2196 161
2197 989
2198 656
2199 542
2200 516
2201 905
2202 740
2203 538
2204 648
2205 620
2206 336
2207 663
2208 257
2209 782
2210 550
2211 458
2212 716
2213 685
2214 626
2215 818
2216 982
2217 915
2218 445
2219 44
2220 343
2221 923
2222 704
2223 39
2224 921
2225 229
2226 305
2227 405
2228 530
2229 125
2230 495
2231 191
2232 702
2233 262
2234 920
2235 258
2236 312
2237 150
2238 683
2239 891
2240 153
2241 152
2242 288
2243 778
2244 926
2245 33
2246 162
2247 311
2248 378
2249 65
2250 957
2251 820

2252 646
2253 265
2254 660
2255 596
2256 779
2257 578
2258 901
2259 219
2260 992
2261 132
2262 767
2263 548
2264 287
2265 66
2266 150
2267 844
2268 646
2269 454
2270 620
2271 869
2272 460
2273 165
2274 463
2275 231
2276 91
2277 414
2278 71
2279 705
2280 822
2281 786
2282 886
2283 596
2284 57
2285 893
2286 895
2287 516
2288 667
2289 862
2290 127
2291 754
2292 11
2293 843
2294 140
2295 653
2296 206
2297 707
2298 770
2299 943
2300 773
2301 894
2302 47
2303 695
2304 780
2305 348
2306 148
2307 686
2308 784
2309 807
2310 41
2311 65
2312 265
2313 54
2314 817
2315 917
2316 506
2317 918
2318 224
2319 740
2320 99
2321 296
2322 154
2323 477
2324 648
2325 569
2326 211
2327 438
2328 980
2329 880
2330 689
2331 474
2332 574
2333 492
2334 822
2335 732
2336 989
2337 463
2338 669
2339 607
2340 662
2341 903
2342 204
2343 197
2344 252
2345 113
2346 790
2347 878
2348 648
2349 330
2350 569
2351 705
2352 201
2353 933
2354 442
2355 601
2356 226
2357 26
2358 22
2359 351
2360 942
2361 606
2362 955
2363 961
2364 222
2365 123
2366 249
2367 439
2368 240
2369 273
2370 905
2371 25
2372 77
2373 483
2374 765
2375 317
2376 171
2377 685
2378 281
2379 294
2380 426
2381 275
2382 336
2383 286
2384 131
2385 91
2386 547
2387 336
2388 749
2389 769
2390 208
2391 211
2392 922
2393 654
2394 768
2395 214
2396 484
2397 407
2398 440
2399 545
2400 387
2401 945
2402 382
2403 12
2404 552
2405 778
2406 329
2407 887
2408 444
2409 699
2410 750
2411 324
2412 574
2413 385
2414 644
2415 144
2416 92
2417 816
2418 826
2419 415
2420 559
2421 668
2422 262
2423 565
2424 618
2425 829
2426 815
2427 920
2428 508
2429 22
2430 225
2431 720
2432 822
2433 715
2434 928
2435 643
2436 759
2437 408
2438 127
2439 976
2440 199
2441 2
2442 733
2443 444
2444 287
2445 452
2446 244
2447 82
2448 526
2449 461
2450 913
2451 231
2452 541
2453 187
2454 209
2455 200
2456 25
2457 66
2458 466
2459 958
2460 435
2461 892
2462 96
2463 818
2464 889
2465 16
2466 703
2467 223
2468 388
2469 437
2470 642
2471 249
2472 343
2473 492
2474 71
2475 509
2476 109
2477 748
2478 980
2479 73
2480 247
2481 661
2482 585
2483 704
2484 97
2485 946
2486 340
2487 269
2488 309
2489 35
2490 275
2491 285
2492 916
2493 92
2494 104
2495 269
2496 321
2497 663
2498 284
2499 261
2500 862
2501 139
2502 639
2503 703
2504 213
2505 685
2506 147
2507 370
2508 907
2509 464
2510 275
2511 892
2512 661
2513 582
2514 832
2515 242
2516 616
2517 132
2518 529
2519 325
2520 176
2521 241
2522 464
2523 390
2524 853
2525 552
2526 802
2527 696
2528 598
2529 457
2530 433
2531 227
2532 984
2533 452
2534 454
2535 440
2536 468
2537 55
2538 83
2539 183
2540 793
2541 701
2542 204
2543 839
2544 293
2545 490
2546 237
2547 3
2548 371
2549 218
2550 501
2551 465
2552 111
2553 394
2554 390
2555 95
2556 491
2557 646
2558 406
2559 487
2560 783
2561 319
2562 595
2563 758
2564 718
2565 743
2566 481
2567 162
2568 904
2569 923
2570 803
2571 470
2572 53
2573 269
2574 970
2575 82
2576 83
2577 714
2578 264
2579 15
2580 751
2581 278
2582 525
2583 987
2584 169
2585 798
2586 841
2587 554
2588 164
2589 359
2590 936
2591 529
2592 318
2593 204
2594 664
2595 4
2596 170
2597 923
2598 672
2599 88
2600 207
2601 922
2602 524
2603 5
2604 259
2605 330
2606 330
2607 517
2608 136
2609 417
2610 506
2611 83
2612 832
2613 289
2614 935
2615 420
2616 612
2617 218
2618 145
2619 763
2620 291
2621 669
2622 198
2623 265
2624 308
2625 518
2626 956
2627 101
2628 7
2629 867
2630 272
2631 220
2632 576
2633 571
2634 483
2635 51
2636 344
2637 487
2638 624
2639 286
2640 256
2641 845
2642 434
2643 706
2644 127
2645 19
2646 559
2647 839
2648 688
2649 408
2650 62
2651 914
2652 272
2653 785
2654 515
2655 395
2656 324
2657 651
2658 926
2659 601
2660 462
2661 440
2662 862
2663 645
2664 985
2665 630
2666 838
2667 698
2668 982
2669 221
2670 581
2671 664
2672 589
2673 604
2674 503
2675 843
2676 353
2677 189
2678 971
2679 758
2680 890
2681 219
2682 430
2683 695
2684 169
2685 768
2686 396
2687 715
2688 133
2689 839
2690 513
2691 505
2692 312
2693 771
2694 826
2695 791
2696 290
2697 723
2698 55
2699 549
2700 305
2701 846
2702 650
2703 557
2704 530
2705 807
2706 276
2707 288
2708 236
2709 615
2710 663
2711 64
2712 758
2713 965
2714 565
2715 875
2716 521
2717 262
2718 189
2719 65
2720 718
2721 18
2722 396
2723 387
2724 19
2725 174
2726 11
2727 800
2728 107
2729 746
2730 45
2731 835
2732 238
2733 968
2734 283
2735 839
2736 539
2737 521
2738 698
2739 33
2740 774
2741 566
2742 364
2743 369
2744 234
2745 8
2746 356
2747 636
2748 922
2749 958
2750 47
2751 649
2752 251
2753 429
2754 460
2755 757
2756 575
2757 680
2758 618
2759 354
2760 898
2761 911
2762 821
2763 391
2764 810
2765 190
2766 776
2767 277
2768 179
2769 579
2770 221
2771 108
2772 495
2773 265
2774 569
2775 957
2776 892
2777 4
2778 643
2779 925
2780 320
2781 425
2782 695
2783 711
2784 915
2785 630
2786 199
2787 556
2788 743
2789 296
2790 801
2791 666
2792 369
2793 800
2794 367
2795 540
2796 673
2797 391
2798 254
2799 521
2800 916
2801 395
2802 205
2803 686
2804 134
2805 220
2806 900
2807 639
2808 491
2809 17
2810 551
2811 824
2812 17
2813 937
2814 7
2815 602
2816 433
2817 217
2818 80
2819 444
2820 27
2821 760
2822 66
2823 438
2824 373
2825 598
2826 559
2827 913
2828 595
2829 732
2830 553
2831 984
2832 28
2833 568
2834 393
2835 538
2836 107
2837 365
2838 548
2839 841
2840 54
2841 731
2842 788
2843 299
2844 926
2845 195
2846 988
2847 657
2848 909
2849 833
2850 200
2851 811
2852 844
2853 885
2854 221
2855 160
2856 740
2857 404
2858 852
2859 196
2860 203
2861 64
2862 285
2863 880
2864 459
2865 89
2866 465
2867 383
2868 333
2869 660
2870 283
2871 732
2872 284
2873 465
2874 856
2875 826
2876 257
2877 176
2878 919
2879 344
2880 409
2881 27
2882 313
2883 406
2884 987
2885 421
2886 401
2887 913
2888 999
2889 984
2890 129
2891 618
2892 451
2893 914
2894 249
2895 339
2896 479
2897 147
2898 646
2899 2
2900 712
2901 376
2902 838
2903 963
2904 663
2905 550
2906 365
2907 603
2908 147
2909 182
2910 262
2911 589
2912 240
2913 88
2914 966
2915 249
2916 571
2917 608
2918 889
2919 997
2920 55
2921 792
2922 567
2923 146
2924 313
2925 410
2926 97
2927 235
2928 321
2929 457
2930 484
2931 545
2932 817
2933 865
2934 822
2935 83
2936 84
2937 980
2938 874
2939 356
2940 846
2941 176
2942 587
2943 849
2944 493
2945 144
2946 996
2947 255
2948 702
2949 7
2950 802
2951 996
2952 890
2953 387
2954 222
2955 24
2956 859
2957 420
2958 93
2959 528
2960 807
2961 716
2962 865
2963 612
2964 543
2965 834
2966 400
2967 827
2968 947
2969 174
2970 434
2971 476
2972 687
2973 66
2974 301
2975 389
2976 221
2977 28
2978 644
2979 683
2980 224
2981 323
2982 915
2983 132
2984 344
2985 968
2986 630
2987 944
2988 989
2989 853
2990 646
2991 49
2992 582
2993 547
2994 569
2995 795
2996 440
2997 792
2998 702
2999 451
3000 756
3001 557
3002 742
3003 114
3004 564
3005 973
3006 103
3007 645
3008 38
3009 310
3010 503
3011 46
3012 386
3013 931
3014 899
3015 890
3016 906
3017 364
3018 193
3019 579
3020 852
3021 172
3022 765
3023 588
3024 131
3025 936
3026 389
3027 903
3028 268
3029 510
3030 630
3031 942
3032 928
3033 530
3034 726
3035 969
3036 218
3037 21
3038 807
3039 214
3040 678
3041 924
3042 580
3043 806
3044 31
3045 122
3046 222
3047 921
3048 565
3049 817
3050 263
3051 212
3052 194
3053 238
3054 892
3055 45
3056 276
3057 215
3058 544
3059 513
3060 1001
3061 574
3062 922
3063 919
3064 525
3065 560
3066 451
3067 687
3068 489
3069 792
3070 611
3071 426
3072 699
3073 566
3074 854
3075 47
3076 190
3077 875
3078 330
3079 410
3080 533
3081 800
3082 184
3083 14
3084 60
3085 640
3086 158
3087 959
3088 912
3089 280
3090 513
3091 811
3092 181
3093 243
3094 360
3095 363
3096 726
3097 785
3098 41
3099 670
3100 394
3101 659
3102 149
3103 529
3104 358
3105 905
3106 437
3107 535
3108 459
3109 121
3110 572
3111 963
3112 446
3113 612
3114 479
3115 831
3116 126
3117 431
3118 3
3119 21
3120 36
3121 204
3122 415
3123 505
3124 6
3125 314
3126 212
3127 980
3128 847
3129 805
3130 971
3131 663
3132 967
3133 137
3134 864
3135 178
3136 711
3137 617
3138 31
3139 10
3140 923
3141 649
3142 930
3143 353
3144 521
3145 289
3146 739
3147 799
3148 488
3149 153
3150 582
3151 814
3152 638
3153 315
3154 638
3155 889
3156 314
3157 285
3158 415
3159 720
3160 152
3161 229
3162 418
3163 495
3164 614
3165 830
3166 660
3167 497
3168 622
3169 628
3170 617
3171 127
3172 458
3173 80
3174 695
3175 322
3176 795
3177 818
3178 823
3179 793
3180 350
3181 11
3182 356
3183 591
3184 533
3185 766
3186 398
3187 825
3188 616
3189 341
3190 320
3191 916
3192 307
3193 295
3194 768
3195 568
3196 673
3197 666
3198 278
3199 154
3200 178
3201 765
3202 351
3203 496
3204 640
3205 869
3206 908
3207 704
3208 234
3209 889
3210 486
3211 502
3212 180
3213 7
3214 227
3215 393
3216 135
3217 611
3218 970
3219 944
3220 327
3221 980
3222 631
3223 618
3224 718
3225 175
3226 599
3227 778
3228 102
3229 954
3230 390
3231 714
3232 106
3233 573
3234 262
3235 960
3236 700
3237 520
3238 798
3239 116
3240 445
3241 903
3242 415
3243 373
3244 653
3245 686
3246 843
3247 842
3248 299
3249 780
3250 388
3251 751

3252 901
3253 689
3254 431
3255 344
3256 55
3257 996
3258 340
3259 678
3260 900
3261 267
3262 543
3263 384
3264 371
3265 255
3266 44
3267 328
3268 480
3269 730
3270 720
3271 456
3272 978
3273 999
3274 59
3275 742
3276 659
3277 773
3278 59
3279 423
3280 442
3281 115
3282 670
3283 277
3284 378
3285 216
3286 811
3287 251
3288 359
3289 760
3290 146
3291 931
3292 945
3293 109
3294 141
3295 980
3296 356
3297 820
3298 727
3299 923
3300 568
3301 828
3302 45
3303 917
3304 56
3305 958
3306 476
3307 364
3308 486
3309 125
3310 657
3311 30
3312 106
3313 971
3314 973
3315 780
3316 428
3317 767
3318 249
3319 357
3320 748
3321 170
3322 329
3323 808
3324 994
3325 847
3326 624
3327 269
3328 613
3329 895
3330 937
3331 247
3332 901
3333 490
3334 296
3335 910
3336 847
3337 898
3338 733
3339 591
3340 239
3341 919
3342 71
3343 68
3344 849
3345 639
3346 406
3347 424
3348 645
3349 106
3350 147
3351 342
3352 396
3353 925
3354 560
3355 324
3356 907
3357 953
3358 736
3359 513
3360 197
3361 366
3362 608
3363 634
3364 592
3365 591
3366 346
3367 348
3368 105
3369 215
3370 565
3371 146
3372 697
3373 282
3374 864
3375 887
3376 11
3377 842
3378 640
3379 345
3380 542
3381 526
3382 943
3383 731
3384 545
3385 601
3386 323
3387 785
3388 766
3389 973
3390 471
3391 307
3392 947
3393 946
3394 308
3395 239
3396 312
3397 522
3398 729
3399 920
3400 979
3401 942
3402 147
3403 161
3404 137
3405 8
3406 426
3407 227
3408 563
3409 290
3410 595
3411 396
3412 378
3413 65
3414 637
3415 155
3416 310
3417 85
3418 191
3419 768
3420 661
3421 138
3422 703
3423 893
3424 294
3425 696
3426 857
3427 123
3428 307
3429 357
3430 669
3431 696
3432 694
3433 526
3434 802
3435 902
3436 338
3437 115
3438 321
3439 532
3440 546
3441 888
3442 119
3443 347
3444 542
3445 376
3446 814
3447 265
3448 138
3449 443
3450 497
3451 533
3452 32
3453 581
3454 284
3455 572
3456 275
3457 565
3458 403
3459 7
3460 567
3461 220
3462 69
3463 364
3464 645
3465 806
3466 834
3467 628
3468 806
3469 454
3470 18
3471 430
3472 484
3473 631
3474 535
3475 711
3476 386
3477 456
3478 408
3479 897
3480 491
3481 281
3482 633
3483 187
3484 780
3485 148
3486 233
3487 216
3488 71
3489 936
3490 547
3491 195
3492 777
3493 395
3494 479
3495 66
3496 523
3497 993
3498 697
3499 273
3500 571
3501 272
3502 925
3503 774
3504 523
3505 898
3506 511
3507 289
3508 16
3509 484
3510 803
3511 703
3512 133
3513 593
3514 206
3515 798
3516 323
3517 691
3518 934
3519 929
3520 35
3521 397
3522 667
3523 516
3524 291
3525 958
3526 197
3527 744
3528 255
3529 562
3530 67
3531 389
3532 996
3533 151
3534 940
3535 561
3536 637
3537 458
3538 532
3539 470
3540 759
3541 350
3542 994
3543 157
3544 987
3545 923
3546 572
3547 575
3548 893
3549 45
3550 417
3551 695
3552 98
3553 464
3554 642
3555 274
3556 145
3557 138
3558 378
3559 271
3560 754
3561 875
3562 896
3563 455
3564 973
3565 916
3566 753
3567 538
3568 760
3569 733
3570 116
3571 690
3572 958
3573 239
3574 574
3575 80
3576 772
3577 123
3578 529
3579 959
3580 771
3581 277
3582 322
3583 399
3584 714
3585 30
3586 61
3587 635
3588 293
3589 308
3590 254
3591 714
3592 393
3593 537
3594 593
3595 790
3596 642
3597 801
3598 999
3599 457
3600 944
3601 147
3602 885
3603 233
3604 521
3605 243
3606 963
3607 155
3608 738
3609 783
3610 681
3611 902
3612 225
3613 264
3614 351
3615 31
3616 679
3617 201
3618 248
3619 58
3620 630
3621 185
3622 608
3623 616
3624 356
3625 689
3626 574
3627 902
3628 126
3629 262
3630 340
3631 931
3632 200
3633 958
3634 486
3635 175
3636 662
3637 183
3638 986
3639 734
3640 358
3641 265
3642 25
3643 175
3644 30
3645 624
3646 157
3647 631
3648 930
3649 56
3650 16
3651 974
3652 853
3653 366
3654 758
3655 173
3656 645
3657 966
3658 865
3659 152
3660 403
3661 721
3662 90
3663 623
3664 914
3665 254
3666 187
3667 909
3668 667
3669 3
3670 693
3671 846
3672 394
3673 439
3674 305
3675 680
3676 810
3677 188
3678 840
3679 512
3680 213
3681 762
3682 693
3683 525
3684 467
3685 40
3686 730
3687 684
3688 422
3689 500
3690 624
3691 956
3692 539
3693 391
3694 252
3695 895
3696 581
3697 164
3698 569
3699 562
3700 220
3701 573
3702 5
3703 89
3704 266
3705 199
3706 936
3707 525
3708 840
3709 931
3710 355
3711 222
3712 829
3713 462
3714 699
3715 383
3716 272
3717 227
3718 591
3719 985
3720 989
3721 794
3722 269
3723 121
3724 186
3725 201
3726 149
3727 335
3728 522
3729 455
3730 654
3731 500
3732 831
3733 313
3734 463
3735 32
3736 167
3737 169
3738 659
3739 991
3740 219
3741 553
3742 867
3743 656
3744 634
3745 533
3746 238
3747 970
3748 462
3749 791
3750 43
3751 102
3752 102
3753 270
3754 960
3755 783
3756 213
3757 140
3758 439
3759 759
3760 32
3761 381
3762 70
3763 930
3764 910
3765 476
3766 774
3767 136
3768 858
3769 835
3770 412
3771 817
3772 512
3773 193
3774 32
3775 746
3776 65
3777 10
3778 683
3779 842
3780 889
3781 966
3782 101
3783 802
3784 387
3785 884
3786 835
3787 164
3788 901
3789 638
3790 689
3791 458
3792 337
3793 277
3794 869
3795 23
3796 819
3797 620
3798 541
3799 53
3800 245
3801 486
3802 357
3803 861
3804 943
3805 806
3806 477
3807 889
3808 263
3809 204
3810 952
3811 503
3812 698
3813 669
3814 658
3815 619
3816 727
3817 99
3818 854
3819 279
3820 222
3821 552
3822 964
3823 481
3824 148
3825 593
3826 659
3827 521
3828 210
3829 140
3830 411
3831 517
3832 48
3833 600
3834 205
3835 722
3836 85
3837 594
3838 35
3839 379
3840 78
3841 399
3842 482
3843 518
3844 156
3845 904
3846 324
3847 451
3848 631
3849 984
3850 857
3851 495
3852 862
3853 817
3854 390
3855 866
3856 314
3857 386
3858 332
3859 343
3860 329
3861 736
3862 558
3863 164
3864 882
3865 973
3866 753
3867 911
3868 551
3869 366
3870 268
3871 509
3872 845
3873 459
3874 408
3875 851
3876 984
3877 542
3878 883
3879 171
3880 971
3881 29
3882 76
3883 342
3884 17
3885 839
3886 241
3887 154
3888 361
3889 570
3890 704
3891 310
3892 366
3893 478
3894 951
3895 867
3896 916
3897 920
3898 447
3899 88
3900 182
3901 202
3902 24
3903 626
3904 220
3905 836
3906 705
3907 619
3908 450
3909 77
3910 404
3911 27
3912 177
3913 631
3914 662
3915 311
3916 763
3917 69
3918 765
3919 899
3920 372
3921 906
3922 951
3923 480
3924 15
3925 901
3926 426
3927 471
3928 280
3929 927
3930 46
3931 906
3932 223
3933 790
3934 601
3935 460
3936 272
3937 351
3938 25
3939 298
3940 844
3941 503
3942 253
3943 196
3944 789
3945 287
3946 234
3947 235
3948 672
3949 840
3950 322
3951 138
3952 477
3953 944
3954 578
3955 279
3956 812
3957 936
3958 532
3959 245
3960 949
3961 271
3962 845
3963 671
3964 573
3965 619
3966 680
3967 320
3968 494
3969 608
3970 637
3971 36
3972 83
3973 262
3974 672
3975 758
3976 441
3977 634
3978 884
3979 584
3980 98
3981 836
3982 597
3983 972
3984 450
3985 45
3986 392
3987 948
3988 709
3989 626
3990 830
3991 447
3992 951
3993 865
3994 442
3995 757
3996 351
3997 76
3998 448
3999 538
4000 684
4001 506
4002 956
4003 346
4004 326
4005 994
4006 463
4007 788
4008 103
4009 859
4010 604
4011 682
4012 441
4013 155
4014 318
4015 850
4016 634
4017 930
4018 930
4019 420
4020 138
4021 144
4022 521
4023 223
4024 610
4025 691
4026 720
4027 533
4028 345
4029 352
4030 35
4031 19
4032 114
4033 944
4034 27
4035 415
4036 285
4037 260
4038 145
4039 694
4040 510
4041 986
4042 706
4043 314
4044 872
4045 652
4046 811
4047 795
4048 880
4049 119
4050 757
4051 568
4052 43
4053 670
4054 578
4055 682
4056 851
4057 93
4058 581
4059 430
4060 119
4061 631
4062 133
4063 73
4064 416
4065 283
4066 458
4067 833
4068 922
4069 70
4070 339
4071 473
4072 275
4073 599
4074 502
4075 384
4076 420
4077 656
4078 810
4079 46
4080 937
4081 785
4082 616
4083 475
4084 630
4085 172
4086 542
4087 35
4088 256
4089 502
4090 301
4091 415
4092 778
4093 166
4094 667
4095 960
4096 1001
4097 508
4098 642
4099 713
4100 685
4101 84
4102 920
4103 543
4104 331
4105 910
4106 770
4107 310
4108 417
4109 604
4110 361
4111 491
4112 746
4113 570
4114 11
4115 394
4116 753
4117 788
4118 293
4119 171
4120 664
4121 27
4122 25
4123 196
4124 68
4125 704
4126 811
4127 971
4128 278
4129 221
4130 468
4131 161
4132 884
4133 204
4134 270
4135 148
4136 324
4137 590
4138 28
4139 594
4140 545
4141 152
4142 947
4143 891
4144 742
4145 794
4146 655
4147 422
4148 723
4149 383
4150 991
4151 132
4152 685
4153 156
4154 206
4155 571
4156 121
4157 349
4158 73
4159 157
4160 319
4161 343
4162 732
4163 50
4164 992
4165 62
4166 684
4167 661
4168 925
4169 381
4170 561
4171 397
4172 687
4173 315
4174 751
4175 679
4176 891
4177 146
4178 128
4179 412
4180 65
4181 300
4182 245
4183 332
4184 259
4185 511
4186 112
4187 325
4188 647
4189 367
4190 610
4191 838
4192 652
4193 43
4194 25
4195 543
4196 476
4197 881
4198 53
4199 1001
4200 860
4201 228
4202 197
4203 982
4204 214
4205 723
4206 434
4207 212
4208 370
4209 910
4210 927
4211 264
4212 345
4213 280
4214 154
4215 132
4216 213
4217 176
4218 705
4219 434
4220 135
4221 625
4222 379
4223 870
4224 496
4225 182
4226 259
4227 977
4228 882
4229 490
4230 846
4231 676
4232 392
4233 525
4234 532
4235 733
4236 617
4237 63
4238 28
4239 59
4240 448
4241 233
4242 495
4243 70
4244 925
4245 936
4246 683
4247 794
4248 218
4249 986
4250 313
4251 138
4252 959
4253 686
4254 855
4255 1001
4256 630
4257 278
4258 478
4259 271
4260 876
4261 474
4262 481
4263 43
4264 135
4265 217
4266 138
4267 754
4268 251
4269 606
4270 419
4271 119
4272 245
4273 111
4274 538
4275 273
4276 8
4277 29
4278 742
4279 284
4280 988
4281 884
4282 294
4283 899
4284 117
4285 812
4286 993
4287 786
4288 77
4289 148
4290 231
4291 657
4292 408
4293 623
4294 127
4295 632
4296 354
4297 893
4298 455
4299 663
4300 797
4301 553
4302 622
4303 402
4304 357
4305 722
4306 239
4307 910
4308 612
4309 662
4310 567
4311 518
4312 535
4313 689
4314 913
4315 836
4316 585
4317 107
4318 357
4319 286
4320 681
4321 145
4322 601
4323 18
4324 147
4325 654
4326 357
4327 197
4328 784
4329 929
4330 909
4331 264
4332 898
4333 165
4334 191
4335 525
4336 484
4337 818
4338 770
4339 435
4340 719
4341 96
4342 863
4343 231
4344 294
4345 249
4346 270
4347 557
4348 663
4349 469
4350 822
4351 288
4352 442
4353 471
4354 637
4355 414
4356 115
4357 418
4358 835
4359 3
4360 259
4361 790
4362 995
4363 200
4364 277
4365 573
4366 131
4367 165
4368 339
4369 171
4370 591
4371 574
4372 614
4373 133
4374 128
4375 306
4376 512
4377 955
4378 704
4379 867
4380 228
4381 435
4382 135
4383 457
4384 593
4385 64
4386 447
4387 926
4388 76
4389 240
4390 975
4391 231
4392 785
4393 624
4394 182
4395 731
4396 385
4397 208
4398 2
4399 760
4400 134
4401 499
4402 941
4403 847
4404 250
4405 584
4406 389
4407 607
4408 76
4409 975
4410 509
4411 345
4412 617
4413 894
4414 824
4415 243
4416 967
4417 817
4418 642
4419 609
4420 720
4421 604
4422 254
4423 795
4424 746
4425 995
4426 558
4427 598
4428 898
4429 315
4430 200
4431 179
4432 278
4433 947
4434 387
4435 184
4436 345
4437 408
4438 675
4439 205
4440 364
4441 294
4442 866
4443 4
4444 715
4445 210
4446 874
4447 753
4448 142
4449 737
4450 545
4451 94
4452 591
4453 149
4454 139
4455 624
4456 349
4457 389
4458 852
4459 891
4460 733
4461 553
4462 989
4463 58
4464 521
4465 583
4466 34
4467 101
4468 107
4469 326
4470 733
4471 947
4472 990
4473 545
4474 972
4475 609
4476 645
4477 481
4478 217
4479 513
4480 718
4481 68
4482 595
4483 118
4484 545
4485 707
4486 206
4487 925
4488 403
4489 513
4490 103
4491 226
4492 406
4493 714
4494 169
4495 826
4496 345
4497 449
4498 721
4499 990
4500 531
4501 480
4502 433
4503 243
4504 878
4505 998
4506 149
4507 744
4508 846
4509 41
4510 435
4511 135
4512 307
4513 641
4514 857
4515 634
4516 3
4517 203
4518 513
4519 969
4520 964
4521 793
4522 954
4523 146
4524 878
4525 435
4526 392
4527 196
4528 64
4529 170
4530 198
4531 92
4532 535
4533 413
4534 856
4535 619
4536 84
4537 525
4538 832
4539 367
4540 634
4541 589
4542 645
4543 235
4544 56
4545 712
4546 972
4547 252
4548 222
4549 334
4550 130
4551 515
4552 53
4553 815
4554 208
4555 210
4556 75
4557 705
4558 926
4559 618
4560 300
4561 370
4562 955
4563 17
4564 164
4565 701
4566 737
4567 645
4568 499
4569 716
4570 728
4571 565
4572 189
4573 368
4574 846
4575 966
4576 379
4577 717
4578 39
4579 492
4580 573
4581 65
4582 508
4583 639
4584 436
4585 939
4586 271
4587 71
4588 813
4589 198
4590 710
4591 304
4592 614
4593 593
4594 592
4595 933
4596 804
4597 753
4598 884
4599 681
4600 56
4601 4
4602 340
4603 757
4604 419
4605 462
4606 308
4607 986
4608 231
4609 203
4610 692
4611 252
4612 810
4613 575
4614 913
4615 309
4616 735
4617 192
4618 564
4619 104
4620 613
4621 785
4622 647
4623 392
4624 160
4625 991
4626 107
4627 760
4628 343
4629 906
4630 462
4631 531
4632 237
4633 225
4634 534
4635 148
4636 566
4637 129
4638 224
4639 228
4640 99
4641 92
4642 209
4643 7
4644 612
4645 262
4646 1001
4647 450
4648 860
4649 34
4650 981
4651 227
4652 799
4653 853
4654 850
4655 439
4656 451
4657 430
4658 847
4659 565
4660 936
4661 892
4662 918
4663 462
4664 567
4665 64
4666 895
4667 307
4668 975
4669 151
4670 522
4671 581
4672 871
4673 240
4674 958
4675 583
4676 337
4677 859
4678 861
4679 330
4680 860
4681 145
4682 610
4683 26
4684 418
4685 228
4686 633
4687 574
4688 701
4689 458
4690 271
4691 647
4692 931
4693 262
4694 160
4695 253
4696 984
4697 57
4698 873
4699 910
4700 26
4701 544
4702 697
4703 366
4704 457
4705 543
4706 541
4707 443
4708 288
4709 722
4710 862
4711 138
4712 741
4713 313
4714 437
4715 233
4716 799
4717 166
4718 602
4719 995
4720 673
4721 302
4722 885
4723 85
4724 638
4725 576
4726 573
4727 453
4728 126
4729 857
4730 847
4731 606
4732 99
4733 790
4734 312
4735 382
4736 226
4737 553
4738 858
4739 110
4740 571
4741 49
4742 603
4743 686
4744 763
4745 375
4746 176
4747 448
4748 477
4749 818
4750 253
4751 647

4752 755
4753 572
4754 447
4755 28
4756 48
4757 396
4758 941
4759 229
4760 191
4761 943
4762 377
4763 884
4764 564
4765 367
4766 139
4767 990
4768 473
4769 516
4770 76
4771 631
4772 269
4773 200
4774 572
4775 512
4776 211
4777 937
4778 193
4779 410
4780 792
4781 648
4782 892
4783 837
4784 423
4785 827
4786 992
4787 234
4788 107
4789 669
4790 989
4791 354
4792 258
4793 247
4794 298
4795 550
4796 366
4797 876
4798 404
4799 118
4800 530
4801 969
4802 942
4803 67
4804 485
4805 514
4806 358
4807 807
4808 200
4809 265
4810 256
4811 111
4812 266
4813 67
4814 134
4815 765
4816 180
4817 631
4818 549
4819 640
4820 130
4821 161
4822 904
4823 575
4824 801
4825 49
4826 875
4827 694
4828 780
4829 832
4830 667
4831 968
4832 369
4833 938
4834 769
4835 336
4836 296
4837 183
4838 354
4839 865
4840 646
4841 667
4842 286
4843 589
4844 119
4845 4
4846 143
4847 260
4848 744
4849 825
4850 658
4851 897
4852 246
4853 158
4854 127
4855 201
4856 798
4857 809
4858 746
4859 918
4860 695
4861 336
4862 985
4863 59
4864 500
4865 115
4866 496
4867 75
4868 997
4869 995
4870 416
4871 247
4872 731
4873 501
4874 687
4875 609
4876 275
4877 612
4878 13
4879 315
4880 159
4881 95
4882 617
4883 912
4884 387
4885 968
4886 480
4887 982
4888 620
4889 355
4890 90
4891 351
4892 903
4893 641
4894 773
4895 52
4896 153
4897 462
4898 527
4899 525
4900 332
4901 252
4902 699
4903 102
4904 187
4905 451
4906 885
4907 974
4908 172
4909 545
4910 203
4911 745
4912 951
4913 440
4914 975
4915 97
4916 252
4917 496
4918 651
4919 120
4920 21
4921 668
4922 428
4923 889
4924 979
4925 781
4926 347
4927 969
4928 317
4929 210
4930 411
4931 953
4932 849
4933 203
4934 985
4935 466
4936 89
4937 554
4938 686
4939 777
4940 722
4941 746
4942 435
4943 90
4944 979
4945 825
4946 130
4947 403
4948 197
4949 26
4950 102
4951 118
4952 727
4953 732
4954 926
4955 837
4956 82
4957 635
4958 486
4959 600
4960 975
4961 939
4962 46
4963 221
4964 480
4965 232
4966 968
4967 4
4968 152
4969 859
4970 670
4971 585
4972 510
4973 777
4974 188
4975 667
4976 855
4977 381
4978 218
4979 500
4980 639
4981 632
4982 892
4983 255
4984 621
4985 463
4986 411
4987 800
4988 746
4989 31
4990 745
4991 159
4992 74
4993 136
4994 410
4995 974
4996 812
4997 46
4998 391
4999 206
5000 758
5001 222
5002 399
5003 578
5004 589
5005 648
5006 243
5007 86
5008 189
5009 637
5010 921
5011 346
5012 339
5013 745
5014 940
5015 598
5016 794
5017 498
5018 51
5019 249
5020 432
5021 190
5022 978
5023 348
5024 893
5025 560
5026 557
5027 4
5028 717
5029 962
5030 680
5031 56
5032 368
5033 27
5034 348
5035 826
5036 410
5037 250
5038 422
5039 13
5040 166
5041 84
5042 810
5043 697
5044 111
5045 360
5046 627
5047 781
5048 675
5049 240
5050 676
5051 27
5052 75
5053 600
5054 275
5055 26
5056 905
5057 452
5058 266
5059 688
5060 36
5061 310
5062 181
5063 974
5064 627
5065 488
5066 699
5067 742
5068 752
5069 149
5070 765
5071 557
5072 982
5073 259
5074 918
5075 2
5076 656
5077 726
5078 854
5079 141
5080 807
5081 13
5082 648
5083 675
5084 896
5085 778
5086 405
5087 512
5088 868
5089 912
5090 348
5091 80
5092 943
5093 916
5094 171
5095 456
5096 268
5097 584
5098 508
5099 494
5100 376
5101 215
5102 287
5103 968
5104 602
5105 422
5106 249
5107 932
5108 148
5109 538
5110 651
5111 115
5112 230
5113 138
5114 284
5115 441
5116 3
5117 353
5118 267
5119 305
5120 250
5121 414
5122 175
5123 638
5124 209
5125 311
5126 435
5127 597
5128 967
5129 929
5130 966
5131 700
5132 356
5133 167
5134 99
5135 438
5136 476
5137 641
5138 566
5139 823
5140 126
5141 213
5142 382
5143 575
5144 942
5145 558
5146 799
5147 455
5148 915
5149 312
5150 213
5151 802
5152 276
5153 443
5154 607
5155 428
5156 794
5157 318
5158 672
5159 927
5160 297
5161 947
5162 603
5163 142
5164 545
5165 178
5166 75
5167 99
5168 716
5169 842
5170 880
5171 328
5172 830
5173 154
5174 950
5175 391
5176 699
5177 124
5178 167
5179 390
5180 152
5181 791
5182 649
5183 63
5184 429
5185 198
5186 724
5187 184
5188 165
5189 600
5190 455
5191 424
5192 676
5193 25
5194 866
5195 283
5196 704
5197 86
5198 784
5199 113
5200 655
5201 240
5202 307
5203 332
5204 273
5205 378
5206 547
5207 314
5208 17
5209 559
5210 561
5211 973
5212 616
5213 390
5214 955
5215 353
5216 595
5217 123
5218 539
5219 238
5220 867
5221 244
5222 321
5223 982
5224 986
5225 540
5226 252
5227 387
5228 169
5229 758
5230 206
5231 82
5232 947
5233 705
5234 875
5235 126
5236 563
5237 937
5238 74
5239 245
5240 738
5241 799
5242 677
5243 833
5244 398
5245 290
5246 347
5247 593
5248 9
5249 137
5250 602
5251 95
5252 656
5253 462
5254 348
5255 32
5256 313
5257 620
5258 951
5259 788
5260 7
5261 315
5262 176
5263 752
5264 426
5265 606
5266 218
5267 201
5268 867
5269 217
5270 609
5271 898
5272 677
5273 354
5274 420
5275 826
5276 371
5277 496
5278 510
5279 11
5280 262
5281 269
5282 391
5283 132
5284 62
5285 951
5286 10
5287 527
5288 273
5289 978
5290 597
5291 195
5292 229
5293 601
5294 483
5295 699
5296 860
5297 827
5298 867
5299 295
5300 551
5301 951
5302 497
5303 63
5304 209
5305 293
5306 320
5307 777
5308 689
5309 511
5310 269
5311 637
5312 195
5313 346
5314 68
5315 57
5316 567
5317 459
5318 564
5319 624
5320 557
5321 2
5322 533
5323 42
5324 448
5325 480
5326 663
5327 232
5328 587
5329 742
5330 599
5331 365
5332 56
5333 946
5334 850
5335 96
5336 434
5337 128
5338 210
5339 54
5340 853
5341 990
5342 362
5343 695
5344 28
5345 949
5346 145
5347 739
5348 210
5349 695
5350 453
5351 197
5352 872
5353 329
5354 760
5355 851
5356 718
5357 602
5358 868
5359 565
5360 169
5361 186
5362 214
5363 57
5364 784
5365 893
5366 140
5367 499
5368 743
5369 995
5370 867
5371 471
5372 557
5373 601
5374 195
5375 19
5376 52
5377 627
5378 38
5379 594
5380 140
5381 646
5382 965
5383 69
5384 150
5385 366
5386 245
5387 211
5388 125
5389 278
5390 390
5391 982
5392 433
5393 971
5394 575
5395 127
5396 493
5397 494
5398 963
5399 60
5400 215
5401 325
5402 11
5403 972
5404 588
5405 196
5406 492
5407 314
5408 112
5409 408
5410 761
5411 697
5412 457
5413 439
5414 719
5415 457
5416 871
5417 225
5418 796
5419 947
5420 653
5421 39
5422 503
5423 287
5424 422
5425 415
5426 349
5427 518
5428 611
5429 329
5430 589
5431 749
5432 18
5433 99
5434 118
5435 50
5436 76
5437 47
5438 190
5439 441
5440 977
5441 709
5442 745
5443 330
5444 44
5445 412
5446 142
5447 69
5448 212
5449 236
5450 63
5451 612
5452 729
5453 404
5454 428
5455 970
5456 599
5457 915
5458 113
5459 452
5460 886
5461 710
5462 675
5463 744
5464 367
5465 265
5466 109
5467 49
5468 773
5469 418
5470 86
5471 779
5472 975
5473 201
5474 433
5475 751
5476 587
5477 765
5478 675
5479 244
5480 63
5481 253
5482 129
5483 272
5484 870
5485 300
5486 662
5487 225
5488 113
5489 612
5490 180
5491 670
5492 783
5493 73
5494 212
5495 444
5496 529
5497 373
5498 341
5499 326
5500 869
5501 988
5502 221
5503 267
5504 183
5505 682
5506 220
5507 850
5508 389
5509 498
5510 662
5511 779
5512 699
5513 984
5514 829
5515 784
5516 412
5517 84
5518 45
5519 723
5520 127
5521 463
5522 383
5523 908
5524 305
5525 305
5526 675
5527 43
5528 368
5529 746
5530 719
5531 980
5532 629
5533 561
5534 742
5535 153
5536 770
5537 947
5538 196
5539 145
5540 927
5541 24
5542 622
5543 974
5544 9
5545 597
5546 240
5547 769
5548 873
5549 527
5550 729
5551 798
5552 1000
5553 219
5554 233
5555 38
5556 946
5557 508
5558 181
5559 89
5560 266
5561 937
5562 33
5563 714
5564 536
5565 35
5566 895
5567 747
5568 141
5569 753
5570 240
5571 440
5572 25
5573 983
5574 200
5575 891
5576 413
5577 7
5578 950
5579 708
5580 991
5581 796
5582 478
5583 331
5584 796
5585 10
5586 578
5587 261
5588 560
5589 800
5590 826
5591 577
5592 978
5593 274
5594 942
5595 893
5596 799
5597 162
5598 956
5599 940
5600 496
5601 103
5602 96
5603 922
5604 81
5605 413
5606 617
5607 169
5608 412
5609 905
5610 386
5611 170
5612 49
5613 239
5614 591
5615 93
5616 147
5617 389
5618 800
5619 924
5620 913
5621 139
5622 923
5623 116
5624 399
5625 237
5626 636
5627 37
5628 40
5629 146
5630 721
5631 521
5632 649
5633 536
5634 903
5635 451
5636 535
5637 546
5638 731
5639 947
5640 161
5641 743
5642 223
5643 978
5644 564
5645 602
5646 668
5647 325
5648 109
5649 621
5650 63
5651 441
5652 516
5653 682
5654 711
5655 708
5656 277
5657 783
5658 714
5659 38
5660 849
5661 176
5662 440
5663 635
5664 868
5665 730
5666 397
5667 491
5668 463
5669 398
5670 286
5671 34
5672 651
5673 73
5674 399
5675 77
5676 732
5677 612
5678 328
5679 198
5680 359
5681 678
5682 282
5683 129
5684 616
5685 826
5686 819
5687 524
5688 732
5689 916
5690 78
5691 387
5692 146
5693 944
5694 102
5695 639
5696 873
5697 611
5698 402
5699 119
5700 916
5701 923
5702 779
5703 560
5704 809
5705 465
5706 558
5707 268
5708 950
5709 108
5710 364
5711 184
5712 927
5713 730
5714 341
5715 476
5716 885
5717 121
5718 755
5719 666
5720 640
5721 866
5722 398
5723 552
5724 838
5725 964
5726 190
5727 337
5728 821
5729 228
5730 990
5731 673
5732 802
5733 275
5734 833
5735 300
5736 969
5737 148
5738 809
5739 315
5740 983
5741 466
5742 784
5743 743
5744 958
5745 613
5746 949
5747 590
5748 707
5749 155
5750 485
5751 791
5752 35
5753 461
5754 242
5755 178
5756 833
5757 428
5758 174
5759 165
5760 727
5761 596
5762 493
5763 903
5764 815
5765 777
5766 609
5767 72
5768 796
5769 636
5770 259
5771 39
5772 301
5773 422
5774 474
5775 106
5776 745
5777 736
5778 918
5779 296
5780 288
5781 641
5782 104
5783 838
5784 718
5785 889
5786 457
5787 766
5788 550
5789 612
5790 386
5791 979
5792 648
5793 334
5794 940
5795 262
5796 955
5797 114
5798 248
5799 222
5800 948
5801 465
5802 606
5803 330
5804 377
5805 349
5806 743
5807 144
5808 597
5809 226
5810 26
5811 922
5812 514
5813 220
5814 743
5815 900
5816 490
5817 870
5818 537
5819 64
5820 246
5821 691
5822 943
5823 828
5824 825
5825 600
5826 314
5827 405
5828 991
5829 354
5830 252
5831 544
5832 295
5833 963
5834 977
5835 13
5836 236
5837 188
5838 246
5839 725
5840 265
5841 645
5842 370
5843 314
5844 678
5845 75
5846 861
5847 265
5848 75
5849 183
5850 243
5851 677
5852 413
5853 451
5854 299
5855 861
5856 819
5857 896
5858 614
5859 711
5860 281
5861 81
5862 668
5863 901
5864 750
5865 974
5866 946
5867 67
5868 289
5869 63
5870 364
5871 291
5872 426
5873 653
5874 362
5875 271
5876 166
5877 22
5878 200
5879 177
5880 246
5881 78
5882 641
5883 594
5884 330
5885 880
5886 69
5887 463
5888 994
5889 418
5890 400
5891 311
5892 129
5893 91
5894 562
5895 11
5896 444
5897 458
5898 409
5899 806
5900 556
5901 307
5902 675
5903 550
5904 933
5905 930
5906 339
5907 541
5908 400
5909 255
5910 304
5911 504
5912 443
5913 790
5914 918
5915 278
5916 280
5917 54
5918 177
5919 43
5920 807
5921 631
5922 718
5923 258
5924 440
5925 162
5926 640
5927 429
5928 717
5929 252
5930 466
5931 190
5932 137
5933 44
5934 990
5935 670
5936 49
5937 701
5938 911
5939 416
5940 708
5941 537
5942 153
5943 670
5944 664
5945 38
5946 919
5947 77
5948 381
5949 206
5950 694
5951 758
5952 374
5953 275
5954 498
5955 753
5956 765
5957 297
5958 631
5959 382
5960 266
5961 299
5962 297
5963 982
5964 599
5965 101
5966 794
5967 844
5968 828
5969 650
5970 186
5971 522
5972 298
5973 950
5974 609
5975 50
5976 590
5977 345
5978 25
5979 671
5980 435
5981 360
5982 637
5983 646
5984 324
5985 393
5986 338
5987 384
5988 232
5989 941
5990 827
5991 51
5992 495
5993 279
5994 18
5995 507
5996 886
5997 595
5998 7
5999 990
6000 911
6001 356
6002 136
6003 746
6004 526
6005 503
6006 948
6007 959
6008 820
6009 666
6010 379
6011 58
6012 943
6013 753
6014 697
6015 391
6016 836
6017 242
6018 177
6019 275
6020 164
6021 66
6022 727
6023 840
6024 221
6025 362
6026 933
6027 831
6028 494
6029 318
6030 926
6031 295
6032 908
6033 68
6034 247
6035 304
6036 259
6037 716
6038 657
6039 280
6040 866
6041 666
6042 201
6043 160
6044 913
6045 674
6046 281
6047 619
6048 741
6049 769
6050 88
6051 310
6052 136
6053 276
6054 384
6055 636
6056 919
6057 856
6058 390
6059 436
6060 334
6061 277
6062 578
6063 771
6064 182
6065 430
6066 191
6067 495
6068 140
6069 6
6070 922
6071 250
6072 57
6073 241
6074 793
6075 901
6076 9
6077 335
6078 353
6079 722
6080 530
6081 13
6082 553
6083 533
6084 955
6085 114
6086 721
6087 817
6088 13
6089 61
6090 239
6091 200
6092 643
6093 852
6094 783
6095 250
6096 405
6097 369
6098 530
6099 970
6100 299
6101 559
6102 283
6103 951
6104 791
6105 476
6106 275
6107 257
6108 263
6109 623
6110 338
6111 901
6112 594
6113 23
6114 997
6115 386
6116 395
6117 942
6118 657
6119 342
6120 170
6121 692
6122 377
6123 545
6124 183
6125 324
6126 862
6127 495
6128 621
6129 15
6130 250
6131 979
6132 349
6133 564
6134 785
6135 257
6136 200
6137 755
6138 549
6139 462
6140 150
6141 340
6142 876
6143 635
6144 917
6145 458
6146 524
6147 966
6148 404
6149 484
6150 921
6151 781
6152 366
6153 286
6154 283
6155 24
6156 751
6157 952
6158 297
6159 732
6160 95
6161 325
6162 583
6163 87
6164 570
6165 501
6166 1001
6167 2
6168 71
6169 697
6170 552
6171 269
6172 825
6173 847
6174 21
6175 726
6176 887
6177 358
6178 3
6179 478
6180 711
6181 837
6182 332
6183 700
6184 963
6185 449
6186 12
6187 223
6188 314
6189 679
6190 495
6191 494
6192 606
6193 65
6194 565
6195 828
6196 174
6197 608
6198 643
6199 594
6200 755
6201 59
6202 28
6203 311
6204 57
6205 807
6206 58
6207 578
6208 433
6209 474
6210 720
6211 594
6212 762
6213 49
6214 712
6215 391
6216 618
6217 16
6218 236
6219 506
6220 494
6221 602
6222 853
6223 558
6224 319
6225 619
6226 260
6227 183
6228 698
6229 399
6230 899
6231 525
6232 34
6233 470
6234 673
6235 375
6236 548
6237 204
6238 330
6239 527
6240 846
6241 491
6242 47
6243 822
6244 431
6245 122
6246 752
6247 936
6248 395
6249 881
6250 632

6251 504
6252 668
6253 264
6254 291
6255 891
6256 505
6257 9
6258 928
6259 19
6260 128
6261 893
6262 807
6263 217
6264 411
6265 788
6266 533
6267 593
6268 514
6269 404
6270 892
6271 376
6272 415
6273 532
6274 840
6275 76
6276 897
6277 247
6278 18
6279 315
6280 698
6281 806
6282 87
6283 335
6284 190
6285 924
6286 13
6287 371
6288 871
6289 91
6290 314
6291 871
6292 36
6293 3
6294 475
6295 548
6296 93
6297 15
6298 950
6299 406
6300 318
6301 425
6302 442
6303 153
6304 24
6305 638
6306 467
6307 597
6308 943
6309 344
6310 16
6311 652
6312 527
6313 451
6314 85
6315 898
6316 597
6317 869
6318 531
6319 705
6320 198
6321 320
6322 554
6323 391
6324 551
6325 156
6326 917
6327 111
6328 970
6329 93
6330 678
6331 569
6332 938
6333 801
6334 968
6335 720
6336 902
6337 627
6338 135
6339 710
6340 639
6341 326
6342 196
6343 106
6344 759
6345 813
6346 333
6347 374
6348 528
6349 960
6350 670
6351 802
6352 355
6353 14
6354 59
6355 580
6356 295
6357 358
6358 656
6359 520
6360 116
6361 651
6362 846
6363 27
6364 717
6365 766
6366 1001
6367 534
6368 41
6369 104
6370 464
6371 917
6372 851
6373 771
6374 568
6375 844
6376 304
6377 899
6378 104
6379 579
6380 453
6381 548
6382 246
6383 876
6384 947
6385 701
6386 822
6387 584
6388 513
6389 503
6390 191
6391 369
6392 127
6393 61
6394 87
6395 349
6396 958
6397 303
6398 331
6399 659
6400 944
6401 307
6402 476
6403 493
6404 820
6405 670
6406 754
6407 362
6408 346
6409 814
6410 232
6411 185
6412 338
6413 414
6414 905
6415 984
6416 551
6417 203
6418 625
6419 662
6420 811
6421 710
6422 761
6423 159
6424 545
6425 398
6426 665
6427 691
6428 781
6429 452
6430 195
6431 761
6432 550
6433 441
6434 893
6435 515
6436 835
6437 601
6438 594
6439 423
6440 199
6441 691
6442 902
6443 733
6444 944
6445 112
6446 910
6447 594
6448 305
6449 129
6450 868
6451 852
6452 876
6453 431
6454 742
6455 276
6456 279
6457 493
6458 849
6459 616
6460 365
6461 850
6462 277
6463 58
6464 718
6465 863
6466 618
6467 975
6468 644
6469 170
6470 836
6471 243
6472 669
6473 866
6474 993
6475 755
6476 971
6477 501
6478 237
6479 356
6480 950
6481 620
6482 489
6483 684
6484 138
6485 825
6486 557
6487 502
6488 386
6489 677
6490 256
6491 234
6492 386
6493 816
6494 205
6495 517
6496 504
6497 987
6498 448
6499 384
6500 780
6501 764
6502 73
6503 217
6504 396
6505 779
6506 341
6507 623
6508 132
6509 705
6510 382
6511 579
6512 454
6513 368
6514 410
6515 228
6516 588
6517 774
6518 816
6519 258
6520 381
6521 859
6522 187
6523 437
6524 56
6525 581
6526 65
6527 219
6528 245
6529 998
6530 148
6531 80
6532 740
6533 547
6534 450
6535 623
6536 713
6537 668
6538 267
6539 428
6540 676
6541 949
6542 27
6543 661
6544 326
6545 163
6546 778
6547 907
6548 474
6549 318
6550 261
6551 925
6552 546
6553 409
6554 726
6555 572
6556 644
6557 552
6558 632
6559 425
6560 820
6561 279
6562 500
6563 51
6564 207
6565 898
6566 936
6567 790
6568 356
6569 746
6570 912
6571 479
6572 164
6573 393
6574 964
6575 535
6576 892
6577 413
6578 809
6579 149
6580 9
6581 121
6582 235
6583 783
6584 645
6585 888
6586 852
6587 570
6588 758
6589 704
6590 470
6591 421
6592 303
6593 38
6594 809
6595 343
6596 870
6597 704
6598 589
6599 120
6600 570
6601 483
6602 253
6603 636
6604 488
6605 342
6606 485
6607 77
6608 729
6609 772
6610 260
6611 356
6612 416
6613 528
6614 583
6615 768
6616 214
6617 465
6618 259
6619 628
6620 250
6621 722
6622 516
6623 326
6624 16
6625 119
6626 293
6627 890
6628 495
6629 667
6630 873
6631 282
6632 335
6633 440
6634 191
6635 1001
6636 487
6637 859
6638 109
6639 422
6640 457
6641 827
6642 742
6643 602
6644 649
6645 814
6646 432
6647 992
6648 309
6649 516
6650 949
6651 730
6652 536
6653 913
6654 565
6655 147
6656 28
6657 672
6658 363
6659 222
6660 392
6661 963
6662 296
6663 68
6664 43
6665 815
6666 173
6667 765
6668 483
6669 816
6670 120
6671 20
6672 309
6673 304
6674 892
6675 256
6676 427
6677 579
6678 432
6679 422
6680 72
6681 937
6682 215
6683 215
6684 119
6685 210
6686 859
6687 912
6688 610
6689 843
6690 333
6691 219
6692 209
6693 509
6694 398
6695 62
6696 77
6697 613
6698 618
6699 474
6700 198
6701 535
6702 933
6703 83
6704 927
6705 68
6706 936
6707 975
6708 958
6709 659
6710 984
6711 867
6712 793
6713 70
6714 469
6715 9
6716 953
6717 448
6718 656
6719 470
6720 754
6721 758
6722 159
6723 60
6724 552
6725 647
6726 911
6727 707
6728 201
6729 788
6730 472
6731 271
6732 483
6733 402
6734 958
6735 740
6736 700
6737 823
6738 658
6739 210
6740 540
6741 1001
6742 431
6743 161
6744 44
6745 28
6746 653
6747 417
6748 751
6749 874
6750 56
6751 988
6752 456
6753 152
6754 205
6755 542
6756 440
6757 396
6758 84
6759 942
6760 576
6761 42
6762 115
6763 863
6764 264
6765 470
6766 338
6767 162
6768 744
6769 878
6770 888
6771 720
6772 118
6773 378
6774 484
6775 812
6776 581
6777 146
6778 243
6779 233
6780 85
6781 377
6782 754
6783 209
6784 829
6785 596
6786 543
6787 798
6788 776
6789 395
6790 75
6791 629
6792 938
6793 266
6794 179
6795 651
6796 926
6797 776
6798 89
6799 336
6800 573
6801 951
6802 397
6803 902
6804 437
6805 846
6806 199
6807 527
6808 209
6809 477
6810 159
6811 837
6812 677
6813 854
6814 195
6815 579
6816 634
6817 747
6818 663
6819 333
6820 280
6821 898
6822 886
6823 615
6824 664
6825 88
6826 242
6827 446
6828 320
6829 144
6830 784
6831 89
6832 176
6833 238
6834 582
6835 277
6836 981
6837 518
6838 686
6839 956
6840 216
6841 84
6842 303
6843 770
6844 849
6845 613
6846 814
6847 598
6848 382
6849 334
6850 816
6851 760
6852 149
6853 149
6854 39
6855 160
6856 252
6857 802
6858 453
6859 597
6860 394
6861 268
6862 676
6863 229
6864 539
6865 391
6866 523
6867 730
6868 978
6869 922
6870 633
6871 869
6872 657
6873 700
6874 324
6875 80
6876 519
6877 827
6878 669
6879 712
6880 169
6881 742
6882 655
6883 321
6884 947
6885 731
6886 161
6887 699
6888 862
6889 344
6890 307
6891 291
6892 531
6893 627
6894 877
6895 10
6896 277
6897 703
6898 217
6899 610
6900 408
6901 936
6902 859
6903 782
6904 826
6905 884
6906 555
6907 251
6908 822
6909 763
6910 474
6911 673
6912 58
6913 667
6914 121
6915 428
6916 80
6917 512
6918 389
6919 902
6920 79
6921 893
6922 982
6923 685
6924 715
6925 782
6926 287
6927 318
6928 377
6929 881
6930 505
6931 181
6932 45
6933 301
6934 665
6935 350
6936 117
6937 442
6938 230
6939 930
6940 195
6941 595
6942 622
6943 689
6944 642
6945 543
6946 804
6947 659
6948 25
6949 178
6950 741
6951 74
6952 931
6953 386
6954 270
6955 481
6956 317
6957 462
6958 494
6959 970
6960 434
6961 690
6962 313
6963 958
6964 533
6965 692
6966 150
6967 425
6968 566
6969 384
6970 178
6971 959
6972 613
6973 643
6974 883
6975 971
6976 113
6977 832
6978 560
6979 757
6980 930
6981 417
6982 685
6983 889
6984 441
6985 83
6986 577
6987 561
6988 381
6989 910
6990 269
6991 591
6992 568
6993 676
6994 661
6995 425
6996 80
6997 589
6998 262
6999 893
7000 104
7001 883
7002 696
7003 825
7004 977
7005 698
7006 477
7007 651
7008 141
7009 154
7010 997
7011 725
7012 218
7013 192
7014 388
7015 944
7016 413
7017 773
7018 206
7019 131
7020 939
7021 882
7022 959
7023 32
7024 807
7025 546
7026 732
7027 656
7028 137
7029 690
7030 989
7031 945
7032 835
7033 511
7034 924
7035 588
7036 912
7037 95
7038 152
7039 73
7040 276
7041 283
7042 309
7043 261
7044 763
7045 681
7046 676
7047 377
7048 807
7049 689
7050 690
7051 368
7052 514
7053 205
7054 751
7055 70
7056 325
7057 570
7058 902
7059 413
7060 543
7061 641
7062 717
7063 935
7064 963
7065 398
7066 943
7067 847
7068 117
7069 740
7070 237
7071 560
7072 178
7073 889
7074 757
7075 315
7076 475
7077 189
7078 530
7079 905
7080 801
7081 672
7082 887
7083 344
7084 945
7085 839
7086 930
7087 519
7088 41
7089 833
7090 635
7091 435
7092 501
7093 834
7094 717
7095 671
7096 273
7097 873
7098 235
7099 198
7100 551
7101 253
7102 691
7103 25
7104 810
7105 533
7106 364
7107 547
7108 434
7109 498
7110 688
7111 755
7112 446
7113 24
7114 930
7115 365
7116 700
7117 776
7118 412
7119 997
7120 334
7121 677
7122 9
7123 655
7124 323
7125 525
7126 4
7127 998
7128 150
7129 612
7130 676
7131 395
7132 49
7133 726
7134 535
7135 890
7136 491
7137 287
7138 319
7139 102
7140 439
7141 372
7142 615
7143 564
7144 904
7145 267
7146 705
7147 357
7148 878
7149 482
7150 519
7151 983
7152 320
7153 595
7154 254
7155 305
7156 306
7157 456
7158 653
7159 42
7160 17
7161 854
7162 936
7163 703
7164 24
7165 201
7166 643
7167 574
7168 524
7169 147
7170 266
7171 58
7172 531
7173 709
7174 614
7175 389
7176 934
7177 876
7178 556
7179 935
7180 462
7181 444
7182 448
7183 762
7184 488
7185 355
7186 103
7187 800
7188 363
7189 921
7190 406
7191 834
7192 37
7193 728
7194 851
7195 110
7196 146
7197 613
7198 671
7199 183
7200 280
7201 160
7202 266
7203 678
7204 517
7205 57
7206 904
7207 77
7208 186
7209 422
7210 279
7211 961
7212 938
7213 691
7214 283
7215 983
7216 600
7217 202
7218 386
7219 776
7220 374
7221 617
7222 697
7223 603
7224 343
7225 913
7226 27
7227 842
7228 741
7229 492
7230 907
7231 885
7232 324
7233 148
7234 453
7235 719
7236 341
7237 193
7238 92
7239 964
7240 93
7241 100
7242 801
7243 969
7244 173
7245 503
7246 252
7247 600
7248 501
7249 320
7250 120
7251 596
7252 213
7253 992
7254 762
7255 697
7256 288
7257 728
7258 509
7259 696
7260 97
7261 667
7262 513
7263 281
7264 607
7265 164
7266 508
7267 539
7268 769
7269 650
7270 821
7271 62
7272 797
7273 288
7274 915
7275 229
7276 486
7277 357
7278 920
7279 852
7280 510
7281 685
7282 489
7283 875
7284 706
7285 958
7286 646
7287 715
7288 957
7289 795
7290 299
7291 832
7292 851
7293 913
7294 105
7295 978
7296 927
7297 545
7298 781
7299 227
7300 924
7301 184
7302 736
7303 164
7304 681
7305 296
7306 914
7307 627
7308 791
7309 900
7310 296
7311 889
7312 167
7313 746
7314 586
7315 857
7316 810
7317 537
7318 100
7319 445
7320 580
7321 289
7322 61
7323 972
7324 473
7325 429
7326 928
7327 646
7328 854
7329 691
7330 719
7331 875
7332 617
7333 714
7334 36
7335 103
7336 917
7337 980
7338 863
7339 540
7340 875
7341 782
7342 877
7343 371
7344 994
7345 131
7346 135
7347 65
7348 680
7349 598
7350 891
7351 136
7352 625
7353 758
7354 410
7355 955
7356 326
7357 841
7358 593
7359 874
7360 868
7361 650
7362 679
7363 792
7364 630
7365 273
7366 619
7367 153
7368 332
7369 779
7370 827
7371 299
7372 922
7373 411
7374 717
7375 836
7376 920
7377 521
7378 395
7379 157
7380 100
7381 376
7382 625
7383 75
7384 490
7385 301
7386 581
7387 699
7388 180
7389 762
7390 820
7391 771
7392 480
7393 468
7394 342
7395 269
7396 549
7397 112
7398 72
7399 988
7400 484
7401 262
7402 818
7403 195
7404 604
7405 675
7406 989
7407 576
7408 664
7409 321
7410 407
7411 69
7412 449
7413 117
7414 10
7415 135
7416 135
7417 93
7418 898
7419 63
7420 561
7421 131
7422 373
7423 232
7424 40
7425 162
7426 255
7427 245
7428 294
7429 425
7430 973
7431 951
7432 495
7433 583
7434 751
7435 344
7436 589
7437 208
7438 283
7439 199
7440 889
7441 589
7442 115
7443 320
7444 467
7445 306
7446 695
7447 914
7448 110
7449 34
7450 656
7451 659
7452 400
7453 239
7454 872
7455 771
7456 327
7457 915
7458 883
7459 638
7460 754
7461 904
7462 575
7463 990
7464 875
7465 337
7466 955
7467 561
7468 216
7469 487
7470 409
7471 772
7472 897
7473 275
7474 903
7475 307
7476 106
7477 452
7478 781
7479 677
7480 883
7481 212
7482 845
7483 335
7484 308
7485 176
7486 340
7487 194
7488 178
7489 554
7490 291
7491 771
7492 966
7493 701
7494 464
7495 393
7496 162
7497 317
7498 875
7499 933
7500 176
7501 989
7502 307
7503 492
7504 900
7505 86
7506 449
7507 722
7508 475
7509 666
7510 708
7511 322
7512 533
7513 379
7514 104
7515 598
7516 537
7517 757
7518 695
7519 212
7520 529
7521 663
7522 868
7523 148
7524 300
7525 664
7526 971
7527 35
7528 473
7529 576
7530 444
7531 858
7532 191
7533 652
7534 10
7535 944
7536 334
7537 479
7538 623
7539 764
7540 372
7541 769
7542 440
7543 322
7544 827
7545 236
7546 929
7547 428
7548 239
7549 57
7550 64
7551 75
7552 757
7553 942
7554 5
7555 808
7556 864
7557 203
7558 153
7559 128
7560 235
7561 569
7562 231
7563 560
7564 581
7565 761
7566 217
7567 36
7568 241
7569 756
7570 141
7571 357
7572 927
7573 835
7574 616
7575 422
7576 234
7577 422
7578 974
7579 612
7580 399
7581 786
7582 708
7583 636
7584 232
7585 238
7586 51
7587 517
7588 866
7589 845
7590 812
7591 162
7592 669
7593 892
7594 366
7595 197
7596 918
7597 311
7598 905
7599 764
7600 965
7601 720
7602 512
7603 116
7604 333
7605 622
7606 778
7607 39
7608 207
7609 173
7610 473
7611 752
7612 382
7613 499
7614 47
7615 12
7616 937
7617 766
7618 779
7619 273
7620 990
7621 509
7622 572
7623 689
7624 191
7625 784
7626 683
7627 944
7628 734
7629 250
7630 713
7631 16
7632 798
7633 973
7634 350
7635 13
7636 715
7637 782
7638 50
7639 355
7640 895
7641 195
7642 90
7643 150
7644 629
7645 49
7646 127
7647 889
7648 30
7649 998
7650 632
7651 993
7652 680
7653 118
7654 804
7655 188
7656 858
7657 641
7658 834
7659 575
7660 437
7661 42
7662 309
7663 265
7664 499
7665 875
7666 661
7667 719
7668 464
7669 589
7670 775
7671 332
7672 482
7673 431
7674 250
7675 588
7676 293
7677 168
7678 755
7679 482
7680 267
7681 779
7682 738
7683 75
7684 866
7685 576
7686 591
7687 50
7688 127
7689 808
7690 39
7691 930
7692 91
7693 778
7694 617
7695 499
7696 188
7697 904
7698 794
7699 318
7700 170
7701 303
7702 430
7703 381
7704 244
7705 840
7706 118
7707 846
7708 95
7709 888
7710 726
7711 724
7712 611
7713 508
7714 244
7715 201
7716 386
7717 15
7718 538
7719 343
7720 708
7721 160
7722 523
7723 188
7724 896
7725 494
7726 404
7727 415
7728 699
7729 806
7730 424
7731 890
7732 536
7733 296
7734 318
7735 554
7736 189
7737 431
7738 59
7739 566
7740 241
7741 505
7742 126
7743 836
7744 717
7745 130
7746 929
7747 283
7748 916
7749 859
7750 92

7751 261
7752 199
7753 829
7754 644
7755 257
7756 12
7757 662
7758 954
7759 782
7760 915
7761 630
7762 103
7763 802
7764 285
7765 94
7766 891
7767 481
7768 317
7769 819
7770 471
7771 360
7772 771
7773 620
7774 793
7775 916
7776 796
7777 267
7778 256
7779 481
7780 617
7781 723
7782 632
7783 872
7784 127
7785 959
7786 879
7787 268
7788 986
7789 114
7790 708
7791 164
7792 293
7793 388
7794 126
7795 233
7796 5
7797 766
7798 509
7799 291
7800 76
7801 958
7802 960
7803 801
7804 613
7805 106
7806 763
7807 100
7808 61
7809 889
7810 950
7811 209
7812 471
7813 576
7814 610
7815 645
7816 483
7817 11
7818 424
7819 619
7820 50
7821 683
7822 501
7823 568
7824 254
7825 988
7826 166
7827 719
7828 831
7829 212
7830 352
7831 595
7832 334
7833 83
7834 935
7835 361
7836 745
7837 704
7838 573
7839 528
7840 912
7841 965
7842 501
7843 757
7844 243
7845 484
7846 637
7847 855
7848 775
7849 253
7850 190
7851 228
7852 302
7853 688
7854 347
7855 339
7856 893
7857 319
7858 646
7859 722
7860 569
7861 943
7862 215
7863 468
7864 680
7865 108
7866 827
7867 987
7868 974
7869 301
7870 432
7871 512
7872 575
7873 89
7874 249
7875 642
7876 565
7877 859
7878 980
7879 964
7880 949
7881 967
7882 882
7883 758
7884 136
7885 359
7886 310
7887 45
7888 293
7889 413
7890 423
7891 465
7892 206
7893 393
7894 332
7895 943
7896 496
7897 445
7898 543
7899 389
7900 126
7901 685
7902 239
7903 822
7904 893
7905 116
7906 119
7907 537
7908 525
7909 394
7910 358
7911 871
7912 228
7913 185
7914 594
7915 14
7916 452
7917 593
7918 139
7919 977
7920 196
7921 738
7922 716
7923 346
7924 308
7925 626
7926 706
7927 14
7928 94
7929 493
7930 982
7931 149
7932 927
7933 4
7934 534
7935 695
7936 646
7937 775
7938 814
7939 301
7940 276
7941 673
7942 887
7943 188
7944 644
7945 265
7946 661
7947 454
7948 464
7949 124
7950 516
7951 619
7952 857
7953 86
7954 890
7955 541
7956 632
7957 917
7958 829
7959 992
7960 422
7961 163
7962 8
7963 90
7964 105
7965 195
7966 147
7967 714
7968 935
7969 378
7970 120
7971 484
7972 557
7973 419
7974 430
7975 95
7976 962
7977 742
7978 760
7979 239
7980 594
7981 426
7982 289
7983 571
7984 822
7985 886
7986 341
7987 511
7988 967
7989 748
7990 903
7991 202
7992 120
7993 552
7994 573
7995 76
7996 365
7997 305
7998 410
7999 541
8000 902
8001 489
8002 587
8003 835
8004 205
8005 176
8006 943
8007 751
8008 185
8009 429
8010 397
8011 50
8012 932
8013 858
8014 265
8015 828
8016 266
8017 266
8018 706
8019 20
8020 519
8021 847
8022 139
8023 316
8024 699
8025 644
8026 38
8027 924
8028 991
8029 389
8030 514
8031 101
8032 688
8033 701
8034 996
8035 999
8036 791
8037 234
8038 892
8039 660
8040 238
8041 985
8042 678
8043 585
8044 881
8045 16
8046 832
8047 511
8048 259
8049 718
8050 709
8051 199
8052 990
8053 442
8054 512
8055 671
8056 675
8057 632
8058 152
8059 151
8060 948
8061 996
8062 633
8063 683
8064 590
8065 704
8066 142
8067 832
8068 77
8069 431
8070 64
8071 946
8072 85
8073 362
8074 964
8075 182
8076 751
8077 186
8078 947
8079 319
8080 719
8081 826
8082 240
8083 381
8084 547
8085 258
8086 686
8087 260
8088 228
8089 550
8090 552
8091 614
8092 369
8093 193
8094 704
8095 156
8096 794
8097 953
8098 498
8099 669
8100 882
8101 367
8102 489
8103 917
8104 193
8105 593
8106 653
8107 530
8108 879
8109 831
8110 512
8111 213
8112 375
8113 538
8114 485
8115 125
8116 149
8117 115
8118 977
8119 505
8120 344
8121 44
8122 947
8123 762
8124 338
8125 523
8126 729
8127 334
8128 653
8129 657
8130 52
8131 727
8132 808
8133 909
8134 110
8135 168
8136 911
8137 730
8138 293
8139 898
8140 754
8141 723
8142 613
8143 135
8144 78
8145 271
8146 39
8147 610
8148 355
8149 878
8150 103
8151 390
8152 861
8153 925
8154 523
8155 860
8156 47
8157 747
8158 600
8159 17
8160 945
8161 486
8162 671
8163 285
8164 247
8165 862
8166 906
8167 982
8168 394
8169 433
8170 497
8171 641
8172 463
8173 952
8174 108
8175 412
8176 94
8177 147
8178 46
8179 38
8180 723
8181 584
8182 79
8183 646
8184 454
8185 325
8186 984
8187 520
8188 36
8189 196
8190 217
8191 363
8192 225
8193 755
8194 202
8195 424
8196 283
8197 405
8198 9
8199 426
8200 371
8201 643
8202 43
8203 370
8204 56
8205 204
8206 858
8207 517
8208 947
8209 72
8210 249
8211 501
8212 24
8213 125
8214 466
8215 480
8216 610
8217 340
8218 324
8219 750
8220 399
8221 717
8222 917
8223 236
8224 25
8225 357
8226 365
8227 847
8228 643
8229 913
8230 807
8231 451
8232 780
8233 386
8234 148
8235 719
8236 166
8237 623
8238 295
8239 857
8240 809
8241 848
8242 559
8243 825
8244 423
8245 997
8246 649
8247 628
8248 306
8249 827
8250 562
8251 449
8252 149
8253 446
8254 188
8255 185
8256 500
8257 485
8258 486
8259 386
8260 510
8261 754
8262 924
8263 253
8264 558
8265 993
8266 293
8267 713
8268 291
8269 274
8270 31
8271 662
8272 798
8273 541
8274 779
8275 795
8276 86
8277 172
8278 861
8279 937
8280 344
8281 600
8282 379
8283 403
8284 339
8285 426
8286 755
8287 996
8288 320
8289 246
8290 330
8291 528
8292 396
8293 441
8294 462
8295 216
8296 140
8297 976
8298 679
8299 311
8300 149
8301 155
8302 205
8303 496
8304 619
8305 38
8306 884
8307 862
8308 690
8309 301
8310 83
8311 345
8312 778
8313 467
8314 795
8315 610
8316 776
8317 669
8318 501
8319 158
8320 742
8321 687
8322 634
8323 757
8324 911
8325 108
8326 873
8327 99
8328 164
8329 160
8330 561
8331 652
8332 231
8333 33
8334 468
8335 899
8336 964
8337 38
8338 96
8339 661
8340 669
8341 596
8342 411
8343 402
8344 410
8345 262
8346 781
8347 186
8348 924
8349 870
8350 965
8351 90
8352 506
8353 533
8354 499
8355 349
8356 551
8357 934
8358 797
8359 826
8360 303
8361 507
8362 7
8363 657
8364 561
8365 482
8366 582
8367 752
8368 182
8369 545
8370 22
8371 23
8372 520
8373 39
8374 227
8375 356
8376 234
8377 875
8378 757
8379 239
8380 348
8381 901
8382 320
8383 130
8384 540
8385 960
8386 389
8387 320
8388 876
8389 126
8390 543
8391 334
8392 32
8393 458
8394 432
8395 122
8396 163
8397 887
8398 717
8399 72
8400 982
8401 640
8402 51
8403 57
8404 562
8405 531
8406 566
8407 346
8408 888
8409 888
8410 66
8411 420
8412 951
8413 535
8414 564
8415 911
8416 551
8417 727
8418 297
8419 853
8420 349
8421 992
8422 149
8423 325
8424 237
8425 958
8426 59
8427 447
8428 85
8429 219
8430 752
8431 63
8432 130
8433 438
8434 977
8435 412
8436 177
8437 299
8438 895
8439 636
8440 368
8441 211
8442 879
8443 830
8444 153
8445 774
8446 884
8447 425
8448 772
8449 135
8450 334
8451 919
8452 309
8453 638
8454 374
8455 391
8456 932
8457 914
8458 561
8459 16
8460 365
8461 911
8462 120
8463 950
8464 990
8465 630
8466 465
8467 385
8468 262
8469 433
8470 818
8471 638
8472 38
8473 775
8474 918
8475 47
8476 646
8477 656
8478 921
8479 284
8480 901
8481 642
8482 497
8483 3
8484 680
8485 739
8486 921
8487 64
8488 946
8489 42
8490 517
8491 481
8492 356
8493 705
8494 537
8495 166
8496 309
8497 655
8498 157
8499 82
8500 824
8501 397
8502 968
8503 182
8504 975
8505 270
8506 366
8507 202
8508 256
8509 910
8510 271
8511 947
8512 575
8513 713
8514 367
8515 817
8516 885
8517 872
8518 300
8519 569
8520 762
8521 933
8522 815
8523 303
8524 581
8525 3
8526 510
8527 71
8528 749
8529 436
8530 818
8531 784
8532 397
8533 809
8534 449
8535 250
8536 341
8537 655
8538 838
8539 56
8540 450
8541 759
8542 785
8543 847
8544 944
8545 449
8546 729
8547 804
8548 258
8549 656
8550 746
8551 516
8552 304
8553 660
8554 166
8555 7
8556 452
8557 275
8558 887
8559 515
8560 375
8561 118
8562 400
8563 695
8564 391
8565 993
8566 934
8567 328
8568 249
8569 190
8570 225
8571 254
8572 378
8573 679
8574 823
8575 793
8576 754
8577 934
8578 427
8579 215
8580 127
8581 827
8582 3
8583 317
8584 631
8585 587
8586 689
8587 261
8588 336
8589 375
8590 637
8591 136
8592 298
8593 627
8594 734
8595 666
8596 653
8597 589
8598 610
8599 331
8600 372
8601 977
8602 930
8603 192
8604 373
8605 162
8606 818
8607 66
8608 880
8609 713
8610 242
8611 156
8612 877
8613 360
8614 495
8615 1001
8616 208
8617 237
8618 579
8619 348
8620 76
8621 373
8622 373
8623 884
8624 510
8625 63
8626 617
8627 489
8628 89
8629 525
8630 42
8631 835
8632 231
8633 872
8634 264
8635 375
8636 934
8637 237
8638 438
8639 159
8640 177
8641 917
8642 355
8643 381
8644 941
8645 782
8646 312
8647 980
8648 578
8649 837
8650 209
8651 119
8652 772
8653 276
8654 419
8655 479
8656 451
8657 708
8658 875
8659 408
8660 988
8661 229
8662 1001
8663 582
8664 194
8665 913
8666 975
8667 392
8668 829
8669 121
8670 142
8671 855
8672 612
8673 990
8674 851
8675 21
8676 601
8677 583
8678 715
8679 795
8680 24
8681 548
8682 793
8683 367
8684 82
8685 419
8686 963
8687 616
8688 495
8689 479
8690 24
8691 682
8692 414
8693 172
8694 906
8695 101
8696 539
8697 278
8698 179
8699 103
8700 150
8701 977
8702 230
8703 22
8704 516
8705 616
8706 716
8707 357
8708 764
8709 838
8710 151
8711 707
8712 918
8713 681
8714 166
8715 633
8716 313
8717 220
8718 26
8719 804
8720 779
8721 476
8722 852
8723 173
8724 866
8725 248
8726 545
8727 176
8728 829
8729 572
8730 82
8731 77
8732 266
8733 393
8734 588
8735 810
8736 954
8737 871
8738 955
8739 102
8740 730
8741 572
8742 252
8743 48
8744 994
8745 395
8746 787
8747 304
8748 419
8749 552
8750 804
8751 42
8752 844
8753 821
8754 222
8755 424
8756 947
8757 539
8758 870
8759 965
8760 892
8761 454
8762 753
8763 74
8764 90
8765 138
8766 688
8767 893
8768 930
8769 684
8770 39
8771 290
8772 663
8773 580
8774 693
8775 890
8776 876
8777 252
8778 318
8779 338
8780 99
8781 256
8782 454
8783 470
8784 549
8785 175
8786 353
8787 607
8788 157
8789 450
8790 621
8791 551
8792 399
8793 724
8794 448
8795 231
8796 743
8797 116
8798 213
8799 312
8800 962
8801 570
8802 172
8803 279
8804 920
8805 62
8806 956
8807 79
8808 190
8809 365
8810 503
8811 355
8812 198
8813 541
8814 199
8815 89
8816 95
8817 714
8818 705
8819 782
8820 412
8821 845
8822 778
8823 593
8824 627
8825 55
8826 674
8827 685
8828 12
8829 724
8830 631
8831 388
8832 462
8833 35
8834 616
8835 671
8836 79
8837 848
8838 101
8839 384
8840 323
8841 532
8842 693
8843 886
8844 472
8845 284
8846 829
8847 481
8848 380
8849 372
8850 915
8851 906
8852 194
8853 831
8854 195
8855 158
8856 357
8857 688
8858 651
8859 689
8860 899
8861 863
8862 927
8863 604
8864 783
8865 825
8866 172
8867 422
8868 288
8869 991
8870 283
8871 287
8872 491
8873 375
8874 578
8875 147
8876 35
8877 9
8878 957
8879 360
8880 954
8881 450
8882 472
8883 133
8884 378
8885 64
8886 515
8887 464
8888 629
8889 701
8890 721
8891 969
8892 579
8893 451
8894 446
8895 51
8896 933
8897 593
8898 413
8899 837
8900 753
8901 840
8902 941
8903 273
8904 342
8905 669
8906 222
8907 35
8908 45
8909 490
8910 518
8911 185
8912 622
8913 271
8914 379
8915 125
8916 783
8917 956
8918 509
8919 113
8920 831
8921 179
8922 544
8923 202
8924 419
8925 549
8926 181
8927 344
8928 833
8929 475
8930 912
8931 609
8932 132
8933 184
8934 811
8935 877
8936 232
8937 644
8938 447
8939 533
8940 666
8941 764
8942 604
8943 754
8944 365
8945 240
8946 620
8947 967
8948 997
8949 122
8950 713
8951 277
8952 399
8953 48
8954 882
8955 2
8956 933
8957 612
8958 287
8959 442
8960 302
8961 501
8962 997
8963 286
8964 406
8965 452
8966 144
8967 972
8968 912
8969 426
8970 73
8971 648
8972 335
8973 512
8974 40
8975 837
8976 187
8977 323
8978 406
8979 21
8980 620
8981 891
8982 236
8983 771
8984 704
8985 440
8986 446
8987 774
8988 616
8989 572
8990 996
8991 223
8992 672
8993 210
8994 484
8995 533
8996 278
8997 115
8998 764
8999 689
9000 350
9001 1001
9002 604
9003 940
9004 10
9005 120
9006 814
9007 331
9008 465
9009 188
9010 435
9011 629
9012 41
9013 674
9014 413
9015 300
9016 53
9017 608
9018 335
9019 383
9020 408
9021 199
9022 3
9023 299
9024 565
9025 560
9026 281
9027 875
9028 9
9029 629
9030 336
9031 979
9032 475
9033 456
9034 818
9035 318
9036 889
9037 288
9038 723
9039 300
9040 440
9041 976
9042 681
9043 553
9044 374
9045 525
9046 524
9047 652
9048 483
9049 113
9050 567
9051 505
9052 643
9053 452
9054 685
9055 113
9056 906
9057 883
9058 442
9059 770
9060 281
9061 383
9062 703
9063 554
9064 130
9065 321
9066 451
9067 911
9068 727
9069 138
9070 491
9071 409
9072 335
9073 420
9074 228
9075 511
9076 294
9077 343
9078 5
9079 429
9080 267
9081 473
9082 787
9083 820
9084 189
9085 275
9086 157
9087 124
9088 89
9089 777
9090 798
9091 871
9092 511
9093 506
9094 911
9095 812
9096 680
9097 962
9098 6
9099 328
9100 809
9101 360
9102 368
9103 697
9104 765
9105 78
9106 147
9107 384
9108 113
9109 613
9110 701
9111 425
9112 794
9113 268
9114 927
9115 754
9116 973
9117 843
9118 181
9119 239
9120 80
9121 192
9122 572
9123 573
9124 637
9125 275
9126 243
9127 46
9128 799
9129 649
9130 838
9131 513
9132 473
9133 935
9134 98
9135 452
9136 487
9137 549
9138 295
9139 640
9140 959
9141 609
9142 362
9143 11
9144 939
9145 311
9146 871
9147 884
9148 385
9149 646
9150 20
9151 833
9152 526
9153 244
9154 964
9155 284
9156 402
9157 796
9158 418
9159 36
9160 166
9161 48
9162 727
9163 247
9164 843
9165 82
9166 469
9167 843
9168 977
9169 195
9170 554
9171 660
9172 543
9173 211
9174 676
9175 373
9176 41
9177 648
9178 424
9179 873
9180 880
9181 12
9182 75
9183 546
9184 992
9185 374
9186 21
9187 218
9188 564
9189 291
9190 981
9191 299
9192 463
9193 646
9194 116
9195 963
9196 787
9197 887
9198 706
9199 433
9200 248
9201 817
9202 569
9203 439
9204 654
9205 957
9206 799
9207 327
9208 66
9209 953
9210 112
9211 998
9212 991
9213 135
9214 688
9215 765
9216 897
9217 155
9218 103
9219 239
9220 344
9221 394
9222 638
9223 710
9224 574
9225 926
9226 444
9227 604
9228 162
9229 296
9230 942
9231 168
9232 430
9233 608
9234 84
9235 678
9236 943
9237 898
9238 387
9239 891
9240 394
9241 136
9242 511
9243 826
9244 90
9245 228
9246 900
9247 106
9248 125
9249 136
9250 429
9251 218
9252 773
9253 914
9254 232
9255 490
9256 542
9257 973
9258 635
9259 480
9260 529
9261 955
9262 908
9263 298
9264 456
9265 491
9266 766
9267 277
9268 978
9269 87
9270 110
9271 705
9272 156
9273 189
9274 296
9275 550
9276 960
9277 344
9278 568
9279 670
9280 683
9281 6
9282 237
9283 610
9284 775
9285 743
9286 514
9287 783
9288 926
9289 724
9290 753
9291 211
9292 748
9293 189
9294 902
9295 887
9296 699
9297 766
9298 577
9299 155
9300 219
9301 105
9302 160
9303 58
9304 318
9305 106
9306 171
9307 651
9308 721
9309 124
9310 220
9311 56
9312 219
9313 894
9314 162
9315 807
9316 486
9317 475
9318 439
9319 714
9320 313
9321 780
9322 855
9323 918
9324 575
9325 367
9326 535
9327 10
9328 782
9329 16
9330 332
9331 810
9332 659
9333 529
9334 274
9335 432
9336 355
9337 272
9338 3
9339 296
9340 278
9341 748
9342 625
9343 473
9344 249
9345 447
9346 372
9347 618
9348 668
9349 198
9350 340
9351 593
9352 917
9353 150
9354 119
9355 193
9356 341
9357 555
9358 395
9359 650
9360 752
9361 681
9362 893
9363 519
9364 248
9365 68
9366 153
9367 884
9368 156
9369 658
9370 208
9371 363
9372 251
9373 544
9374 718
9375 953
9376 175
9377 130
9378 492
9379 140
9380 170
9381 887
9382 29
9383 193
9384 970
9385 521
9386 155
9387 729
9388 618
9389 102
9390 901
9391 345
9392 970
9393 790
9394 665
9395 831
9396 251
9397 938
9398 461
9399 424
9400 80
9401 853
9402 534
9403 552
9404 182
9405 534
9406 741
9407 633
9408 880
9409 170
9410 26
9411 121
9412 294
9413 998
9414 163
9415 779
9416 875
9417 180
9418 463
9419 555
9420 827
9421 305
9422 839
9423 162
9424 75
9425 283
9426 431
9427 788
9428 256
9429 578
9430 672
9431 816
9432 681
9433 815
9434 993
9435 807
9436 48
9437 419
9438 794
9439 72
9440 391
9441 184
9442 28
9443 249
9444 792
9445 232
9446 266
9447 972
9448 501
9449 857
9450 595
9451 757
9452 605
9453 196
9454 910
9455 247
9456 393
9457 458
9458 705
9459 861
9460 23
9461 719
9462 93
9463 937
9464 780
9465 713
9466 183
9467 169
9468 310
9469 393
9470 302
9471 428
9472 665
9473 10
9474 482
9475 674
9476 433
9477 481
9478 525
9479 467
9480 817
9481 788
9482 391
9483 340
9484 599
9485 898
9486 897
9487 862
9488 690
9489 6
9490 532
9491 591
9492 906
9493 516
9494 927
9495 296
9496 914
9497 907
9498 712
9499 312

9500 736
9501 485
9502 550
9503 637
9504 968
9505 423
9506 693
9507 766
9508 345
9509 253
9510 720
9511 880
9512 179
9513 662
9514 4
9515 477
9516 621
9517 497
9518 638
9519 633
9520 967
9521 624
9522 472
9523 679
9524 383
9525 392
9526 603
9527 392
9528 895
9529 22
9530 246
9531 951
9532 113
9533 905
9534 30
9535 679
9536 524
9537 548
9538 810
9539 977
9540 545
9541 534
9542 821
9543 830
9544 398
9545 19
9546 896
9547 447
9548 734
9549 66
9550 969
9551 319
9552 957
9553 426
9554 191
9555 198
9556 646
9557 880
9558 912
9559 939
9560 876
9561 908
9562 440
9563 655
9564 144
9565 725
9566 939
9567 243
9568 964
9569 766
9570 466
9571 69
9572 415
9573 924
9574 742
9575 320
9576 153
9577 398
9578 644
9579 584
9580 222
9581 492
9582 167
9583 899
9584 45
9585 443
9586 977
9587 274
9588 928
9589 843
9590 500
9591 439
9592 242
9593 192
9594 988
9595 594
9596 335
9597 305
9598 20
9599 894
9600 952
9601 381
9602 398
9603 202
9604 123
9605 770
9606 972
9607 554
9608 158
9609 286
9610 446
9611 721
9612 368
9613 791
9614 147
9615 221
9616 854
9617 851
9618 953
9619 965
9620 243
9621 87
9622 31
9623 196
9624 103
9625 482
9626 109
9627 814
9628 412
9629 207
9630 959
9631 147
9632 357
9633 786
9634 711
9635 124
9636 656
9637 447
9638 883
9639 598
9640 426
9641 416
9642 747
9643 79
9644 115
9645 963
9646 492
9647 922
9648 395
9649 218
9650 588
9651 153
9652 489
9653 829
9654 390
9655 281
9656 13
9657 860
9658 969
9659 540
9660 458
9661 401
9662 298
9663 249
9664 517
9665 498
9666 341
9667 315
9668 594
9669 900
9670 909
9671 442
9672 908
9673 520
9674 160
9675 101
9676 287
9677 441
9678 783
9679 15
9680 866
9681 675
9682 188
9683 886
9684 420
9685 200
9686 221
9687 761
9688 621
9689 174
9690 868
9691 110
9692 520
9693 667
9694 195
9695 821
9696 788
9697 448
9698 112
9699 867
9700 968
9701 134
9702 16
9703 763
9704 196
9705 826
9706 446
9707 925
9708 882
9709 93
9710 522
9711 907
9712 362
9713 873
9714 842
9715 209
9716 972
9717 134
9718 62
9719 456
9720 12
9721 64
9722 791
9723 673
9724 874
9725 293
9726 869
9727 515
9728 236
9729 474
9730 158
9731 749
9732 63
9733 41
9734 766
9735 257
9736 91
9737 534
9738 221
9739 974
9740 248
9741 796
9742 815
9743 43
9744 176
9745 450
9746 799
9747 100
9748 367
9749 706
9750 849
9751 508
9752 235
9753 672
9754 298
9755 355
9756 286
9757 329
9758 858
9759 163
9760 357
9761 229
9762 239
9763 754
9764 337
9765 786
9766 51
9767 767
9768 708
9769 386
9770 334
9771 577
9772 621
9773 367
9774 918
9775 967
9776 98
9777 996
9778 822
9779 653
9780 669
9781 969
9782 647
9783 678
9784 196
9785 903
9786 211
9787 649
9788 424
9789 8
9790 574
9791 154
9792 324
9793 934
9794 449
9795 359
9796 78
9797 135
9798 305
9799 344
9800 962
9801 259
9802 808
9803 605
9804 462
9805 246
9806 516
9807 669
9808 148
9809 773
9810 995
9811 859
9812 259
9813 602
9814 744
9815 397
9816 437
9817 31
9818 596
9819 788
9820 926
9821 803
9822 520
9823 518
9824 863
9825 820
9826 288
9827 608
9828 440
9829 576
9830 952
9831 517
9832 400
9833 334
9834 294
9835 661
9836 765
9837 977
9838 484
9839 828
9840 411
9841 171
9842 38
9843 33
9844 982
9845 534
9846 766
9847 913
9848 199
9849 360
9850 290
9851 814
9852 205
9853 597
9854 590
9855 141
9856 621
9857 367
9858 72
9859 32
9860 463
9861 871
9862 985
9863 161
9864 382
9865 626
9866 581
9867 53
9868 49
9869 131
9870 560
9871 958
9872 754
9873 191
9874 124
9875 793
9876 437
9877 313
9878 137
9879 658
9880 957
9881 298
9882 349
9883 842
9884 464
9885 128
9886 237
9887 929
9888 783
9889 72
9890 834
9891 514
9892 615
9893 266
9894 120
9895 740
9896 576
9897 315
9898 739
9899 652
9900 65
9901 750
9902 980
9903 191
9904 172
9905 966
9906 141
9907 915
9908 467
9909 149
9910 770
9911 362
9912 949
9913 292
9914 140
9915 422
9916 95
9917 324
9918 571
9919 705
9920 112
9921 791
9922 565
9923 837
9924 102
9925 798
9926 893
9927 805
9928 670
9929 242
9930 549
9931 181
9932 307
9933 407
9934 624
9935 179
9936 218
9937 355
9938 776
9939 907
9940 764
9941 691
9942 671
9943 688
9944 79
9945 377
9946 5
9947 829
9948 988
9949 752
9950 538
9951 548
9952 7
9953 968
9954 887
9955 694
9956 130
9957 458
9958 895
9959 358
9960 180
9961 454
9962 972
9963 653
9964 243
9965 5
9966 762
9967 272
9968 859
9969 838
9970 144
9971 687
9972 838
9973 47
9974 444
9975 71
9976 777
9977 584
9978 990
9979 79
9980 135
9981 737
9982 1000
9983 792
9984 913
9985 178
9986 934
9987 603
9988 175
9989 459
9990 677
9991 389
9992 123
9993 565
9994 353
9995 480
9996 443
9997 885
9998 762
9999 945

In [64]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [69]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [70]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [71]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [72]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [73]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [74]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [75]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [76]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [77]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [78]:
df.loc['Store 1', 'Name']

Store 1    Chris
Store 1    Kevyn
Name: Name, dtype: object

In [79]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [80]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [81]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [82]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [83]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [84]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [85]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [86]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [87]:
copy_df.drop?

In [88]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   5.0

In [89]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

# Dataframe Indexing and Loading

In [90]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [91]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [138]:
df

                   index          video  playback position  paused  volume
time       user
1469974424 cheryl      0     intro.html                  5   False    10.0
1469974454 cheryl      1     intro.html                  6   False    10.0
1469974544 cheryl      2     intro.html                  9   False    10.0
1469974574 cheryl      3     intro.html                 10   False    10.0
1469977514 bob         4     intro.html                  1   False    10.0
1469977544 bob         5     intro.html                  1   False    10.0
1469977574 bob         6     intro.html                  1   False    10.0
1469977604 bob         7     intro.html                  1   False    10.0
1469974604 cheryl      8     intro.html                 11   False    10.0
1469974694 cheryl      9     intro.html                 14   False    10.0
1469974724 cheryl     10     intro.html                 15   False    10.0
1469974454 sue        11  advanced.html                 24   False    10.0
1469974524 sue        12  advanced.html                 25   False    10.0
1469974424 sue        13  advanced.html                 23   False    10.0
1469974554 sue        14  advanced.html                 26   False    10.0
1469974624 sue        15  advanced.html                 27   False    10.0
1469974654 sue        16  advanced.html                 28   False     5.0
1469974724 sue        17  advanced.html                 29   False     5.0
1469974484 cheryl     18     intro.html                  7   False     5.0
1469974514 cheryl     19     intro.html                  8   False     5.0
1469974754 sue        20  advanced.html                 30   False     5.0
1469974824 sue        21  advanced.html                 31   False     5.0
1469974854 sue        22  advanced.html                 32   False     5.0
1469974924 sue        23  advanced.html                 33   False     5.0
1469977424 bob        24     intro.html                  1    True    10.0
1469977454 bob        25     intro.html                  1    True    10.0
1469977484 bob        26     intro.html                  1    True    10.0
1469977634 bob        27     intro.html                  1    True    10.0
1469977664 bob        28     intro.html                  1    True    10.0
1469974634 cheryl     29     intro.html                 12    True    10.0
1469974664 cheryl     30     intro.html                 13    True    10.0
1469977694 bob        31     intro.html                  1    True    10.0
1469977724 bob        32     intro.html                  1    True    10.0

In [139]:
!cat olympics.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [140]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [141]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [142]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [143]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

# Querying a DataFrame

In [144]:
df['Gold'] > 0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool

In [145]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [146]:
only_gold['Gold'].count()

100

In [147]:
df['Gold'].count()

147

In [148]:
only_gold = only_gold.dropna()
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [149]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

In [150]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

101

In [151]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

# Indexing Dataframes

In [152]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [153]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [154]:
df = df.reset_index()
df.head()

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [155]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [156]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [157]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [158]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [159]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [160]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [161]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# Missing values

In [162]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [163]:
df.fillna?

In [164]:
df = df.set_index('time')
df = df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [165]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

We can also propagate non-null values forward or backward.

In [166]:
#df = df.fillna(0)
df = df.fillna(method='ffill')
df

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0
1469974514 cheryl     intro.html                  8   False    10.0
1469974524 sue     advanced.html                 25   False    10.0
1469974544 cheryl     intro.html                  9   False    10.0
1469974554 sue     advanced.html                 26   False    10.0
1469974574 cheryl     intro.html                 10   False    10.0
1469974604 cheryl     intro.html                 11   False    10.0
1469974624 sue     advanced.html                 27   False    10.0
1469974634 cheryl     intro.html                 12   False    10.0
1469974654 sue     advanced.html                 28   False     5.0
1469974664 cheryl     intro.html                 13   False     5.0
1469974694 cheryl     intro.html                 14   False     5.0
1469974724 cheryl     intro.html                 15   False     5.0
           sue     advanced.html                 29   False     5.0
1469974754 sue     advanced.html                 30   False     5.0
1469974824 sue     advanced.html                 31   False     5.0
1469974854 sue     advanced.html                 32   False     5.0
1469974924 sue     advanced.html                 33   False     5.0
1469977424 bob        intro.html                  1    True    10.0
1469977454 bob        intro.html                  1    True    10.0
1469977484 bob        intro.html                  1    True    10.0
1469977514 bob        intro.html                  1    True    10.0
1469977544 bob        intro.html                  1    True    10.0
1469977574 bob        intro.html                  1    True    10.0
1469977604 bob        intro.html                  1    True    10.0
1469977634 bob        intro.html                  1    True    10.0
1469977664 bob        intro.html                  1    True    10.0
1469977694 bob        intro.html                  1    True    10.0
1469977724 bob        intro.html                  1    True    10.0